<div class="header">
  <!-- <div class="top-header my-5">
  <div class="header">
    <h2 class="header__text">Terminals</h2>
    <span class="sub-head mb-3"
      >View details of every terminal on the platform</span
    >
  </div>
  <div class="action-btns">
    <button class="terminal-upload-btn">Bulk Terminal Upload</button>
    <button class="terminal-add-btn">Add Terminal</button>
  </div>
</div> -->

  <!-- Here is the first here  -->
  <div class="main-header">
    <div class="header__text animated fadeIn">
      <div>
        <span>Merchants</span>
      </div>

      <div class="button_header_section">
        <button
          class="btn action_button"
          data-toggle="modal"
          data-target="#createMerchant"
        >
          <i class="fa fa-plus animated slideIn"></i>
          Add Merchant
        </button>
      </div>
    </div>
    <span>View details of every merchant on this platform</span>
  </div>

  <!-- FILTER BY CODE  -->
  <div class="header__search">
    <span class="filter_click" (click)="showFilter = !showFilter">
      <img
        src="../../../../../assets/icons/Filter-Icon.svg"
        alt="search"
        class="img-fluid"
      />
      <span
        class="filter_text"
        id="dropdownMenuButton"
        onselectstart="return false"
        unselectable="on"
      >
        Filter Table By
      </span>
    </span>
    <div
      class="card search-dropdown"
      *ngIf="showFilter"
      id="filter__dropdown"
      style="height: 250px"
    >
      <form [formGroup]="searchForm" (ngSubmit)="searchBy(searchForm.value)">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="merchantId" class="search_label">Merchant ID</label>
              <input
                type="text"
                class="form-control search_input"
                formControlName="merchantId"
                id="merchantId"
              />
            </div>
          </div>
          <!-- 
          <div class="col-md-4">
            <div class="form-group">
              <label for="merchantName" class="search_label"
                >Merchant Name</label
              >
              <input
                type="text"
                class="form-control search_input"
                formControlName="merchantName"
                id="merchantName"
              />
            </div>
          </div> -->

          <div class="col-md-4">
            <div class="form-group">
              <label for="status" class="search_label">Status</label>
              <select
                type="text"
                class="form-control search_input"
                formControlName="status"
                id="status"
              >
                <option value="">Select Merchant Status</option>
                <option value="true">Active</option>
                <option value="false">Inactive</option>
              </select>
            </div>
          </div>
        </div>

        <div class="button-section text-right">
          <button
            class="btn button-white"
            type="button"
            (click)="showFilter = false; searchForm.reset()"
          >
            Close
          </button>

          <button class="btn button-pink" type="submit">
            Apply Filters
            <div
              *ngIf="isFiltering"
              class="spinner-border spinner-border-sm ml-3"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Reset button -->
  <button
    class="btn btn-secondary reset-filter"
    (click)="clearFilters()"
    [disabled]="isLoading"
  >
    <i
      class="fa fa-refresh"
      [class.isLoading]="isLoading && allMerchants.length != 0"
    ></i>
    {{ isLoading && allMerchants.length != 0 ? "Loading" : "Refresh" }}
  </button>

  <!-- FILTER BY CODE ENDS HERE  -->

  <!-- New Header Ends HEre  -->
</div>

<div class="table-container custom-table animated fadeIn">
  <div class="card-body">
    <app-rex-loader
      [isPushed]="true"
      *ngIf="isLoading && allMerchants.length == 0"
    ></app-rex-loader>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Merchant Name</th>
          <th scope="col">Merchant ID</th>
          <th scope="col">Merchant Category Code</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let merchant of allMerchants">
          <td>{{ merchant.merchantName }}</td>
          <td>{{ merchant.merchantId }}</td>
          <td>{{ merchant.merchantCategoryCode }}</td>
          <td
            [ngClass]="{ Inactive: merchant.isActive === false }"
            class="active"
          >
            {{ merchant.isActive ? "Active" : "Inactive" }}
          </td>
          <td>
            <button [routerLink]="[merchant.id]" class="btn table_button">
              Open
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <span class="empty-state" *ngIf="allMerchants.length === 0 && !isLoading">
      No Records Found
    </span>
  </div>
</div>

<app-rex-pagination
  [data]="allMerchants"
  [totalElements]="dataCount"
  (pageCountSelected)="requestPageSize($event)"
  (onDownloadAsCSV)="beginDownload()"
  (refreshData)="onRefreshData($event)"
  *ngIf="isLoaded"
></app-rex-pagination>

<!-- CREATE MERCHANT  -->
<div
  class="modal animated zoomIn"
  id="createMerchant"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="createUserLabel">Add Merchant</h5>
        <form [formGroup]="createMerchantForm" (ngSubmit)="addNewMerchant()">
          <div class="row">
            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="merchantName"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="merchantName"
                  />
                  <label for="merchantName">Merchant Name</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('merchantName').errors &&
                  createMerchantForm.get('merchantName').touched
                "
                >Merchant Name is required.</span
              >
            </div>

            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="merchantKey"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="merchantKey"
                  />
                  <label for="merchantKey">Merchant Key</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('merchantKey').errors &&
                  createMerchantForm.get('merchantKey').touched
                "
                >Merchant Key is required.</span
              >
            </div>

            <div *ngIf="autoMidState != true" class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="merchantId"
                    type="text"
                    class="form-control"
                    maxlength="15"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantId">Merchant ID</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('merchantId').hasError('required') &&
                  createMerchantForm.get('merchantId').touched
                "
                >Merchant ID is required.</span
              >
              <span
                class="validation-message"
                *ngIf="
                  !createMerchantForm.get('merchantId').hasError('required') &&
                  createMerchantForm.get('merchantId').hasError('minlength')
                "
              >
                {{ messages.merchantId.length }}
              </span>
            </div>

            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="merchantToken"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="merchantToken"
                  />
                  <label for="merchantToken">Merchant Token</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('merchantToken').errors &&
                  createMerchantForm.get('merchantToken').touched
                "
                >Merchant Token is required.</span
              >
            </div>

            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="categoryCode"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="categoryCode"
                  >
                    <option
                      [value]="categoryCode['MCC CODE']"
                      *ngFor="let categoryCode of merchantCategoryCodes"
                    >
                      {{ categoryCode.fullCatLabel }}
                    </option>
                  </select>
                  <label for="categoryCode">Merchant Category Code</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('categoryCode').errors &&
                  createMerchantForm.get('categoryCode').touched
                "
                >Merchant Category Code is required.</span
              >
            </div>

            <div class="col-md-4 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="currency"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="currency"
                  >
                    <option
                      [value]="currency['ISO4217-currency_numeric_code']"
                      *ngFor="let currency of currencyCodes"
                    >
                      {{ currency.fullCurrencyLabel }}
                    </option>
                  </select>
                  <label for="currency">Currency</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('currency').errors &&
                  createMerchantForm.get('currency').touched
                "
                >Currency is required.</span
              >
            </div>

            <div class="col-md-4 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="countryCode"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    (change)="
                      onSelectCountryCode(createMerchantForm.value.countryCode)
                    "
                    formControlName="countryCode"
                  >
                    <option
                      [value]="countryCode['ISO3166-1-numeric']"
                      *ngFor="let countryCode of countryCodes"
                    >
                      {{ countryCode.fullCountryLabel }}
                    </option>
                  </select>
                  <label for="countryCode">Country Code</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('countryCode').errors &&
                  createMerchantForm.get('countryCode').touched
                "
                >Country Code is required.</span
              >
            </div>

            <div class="col-md-4 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="city"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="city"
                  >
                    <option
                      [value]="city['subdivision_name']"
                      *ngFor="let city of allCities"
                    >
                      {{ city["subdivision_name"] }}
                    </option>
                  </select>
                  <label for="city">City</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('city').errors &&
                  createMerchantForm.get('city').touched
                "
                >City is required.</span
              >
            </div>

            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="timezoneId"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="timezoneId"
                  >
                    <option
                      [value]="+timezone.id"
                      *ngFor="let timezone of allTimeZones"
                    >
                      {{ timezone.timeZoneName }}
                    </option>
                  </select>
                  <label for="timezoneId">Time Zone</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('timezoneId').errors &&
                  createMerchantForm.get('timezoneId').touched
                "
                >Timezone is required.</span
              >
            </div>
          </div>
          <div class="form_actions">
            <button
              class="cancel_button"
              type="button"
              data-dismiss="modal"
              id="cancel_button_add_merchant"
              (click)="createMerchantForm.reset()"
            >
              Cancel
            </button>
            <button
              class="btn button-primary"
              [disabled]="
                createMerchantForm.invalid ||
                isLoadingCities ||
                isCreatingMerchant
              "
              type="submit"
            >
              Add Merchant
            </button>

            <div
              class="spinner-border spinner-border-sm ml-3"
              *ngIf="isCreatingMerchant || isLoadingCities"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
