<div class="main_dashboard_flow">
  <div class="details_section">
    <div class="form_area">
      <h5>Set Fee Sharing</h5>

      <span>Set Transaction fees sharing percentages for transactions.</span>
      <form>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <span class="has-float-label">
                <input type="text" class="form-control" placeholder="" />
                <label for="terminal">msc</label>
              </span>
            </div>
            <div class="col">
              <span class="has-float-label">
                <input type="text" class="form-control" placeholder="" />
                <label for="terminal">PTSP</label>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <span class="has-float-label">
                <input type="text" class="form-control" placeholder="" />
                <label for="terminal">Aggregator</label>
              </span>
            </div>
            <div class="col">
              <span class="has-float-label">
                <input type="text" class="form-control" placeholder="" />
                <label for="terminal">Local Switch</label>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <span class="has-float-label">
                <input type="text" class="form-control" placeholder="" />
                <label for="terminal">Issuer</label>
              </span>
            </div>
            <div class="col">
              <span class="has-float-label">
                <input type="text" class="form-control" placeholder="" />
                <label for="terminal">Acquirer</label>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <span class="has-float-label">
                <input type="text" class="form-control" placeholder="" />
                <label for="terminal">Terminal Owner</label>
              </span>
            </div>
          </div>
        </div>
        <button
          class="btn action_button_update"
          data-toggle="modal"
          data-target="#editAcquirer"
        >
          Save Changes
        </button>
      </form>
    </div>
  </div>
</div>

<!-- #f0f0f0 -->
