<div class="login__container">
  <div class="login_panel">
    <span class="logo" style="margin: 0 auto">
      <img
        src="../../../../../assets/images/Mask Group 1.svg"
        alt="rexConnect-logo"
      />
    </span>

    <div class="form_header">Recover Your Password</div>

    <div class="form_sub_header">Enter Registered Email Address</div>

    <form [formGroup]="recoverPassword">
      <div class="row">
        <div class="col-md-12 no-padding">
          <div class="form-group">
            <span class="has-float-label">
              <input
                class="form-control"
                id="email"
                type="text"
                password
                placeholder=" "
                formControlName="email"
              />
              <label for="email">Enter Your Email Address</label>
            </span>
            <!-- <div
              *ngIf="
                recoverPassword.get('email').errors &&
                (recoverPassword.get('email').dirty ||
                  recoverPassword.get('email').touched)
              "
              class="validation-message"
            >
              <span
                class="validation-message"
                [hidden]="!recoverPassword.get('email').hasError('required')"
              >
                {{ validationMessage.email.required }}
                <br />
              </span>
            </div> -->
          </div>
        </div>
      </div>

      <div class="bottom_text">
        <a [routerLink]="['../sign-in']"> Return to Sign In </a>
      </div>
      <button
        class="form_button"
        [disabled]="!recoverPassword.valid"
        (click)="sendLink()"
        *ngIf="!isLoading"
      >
        <span>Send Link</span>
      </button>
      <div *ngIf="isLoading" class="sbl-circ-path text-center"></div>
    </form>
  </div>
</div>
