<div class="header">
  <!-- <div class="top-header my-5">
  <div class="header">
    <h2 class="header__text">Terminals</h2>
    <span class="sub-head mb-3"
      >View details of every terminal on the platform</span
    >
  </div>
  <div class="action-btns">
    <button class="terminal-upload-btn">Bulk Terminal Upload</button>
    <button class="terminal-add-btn">Add Terminal</button>
  </div>
</div> -->

  <!-- Here is the first here  -->
  <div class="main-header">
    <div class="header__text animated fadeIn">
      <div>
        <span>Transactions</span>
      </div>
    </div>
    <span>View details of every acquirer on this platform</span>
  </div>

  <!-- FILTER BY CODE  -->
  <div class="header__search">
    <span class="filter_click" (click)="showFilter = !showFilter">
      <img
        src="../../../../../assets/icons/Filter-Icon.svg"
        alt="search"
        class="img-fluid"
      />
      <span
        class="filter_text"
        id="dropdownMenuButton"
        onselectstart="return false"
        unselectable="on"
      >
        Filter Table By
      </span>
    </span>
    <div
      class="card search-dropdown"
      *ngIf="showFilter"
      id="filter__dropdown"
      style="height: 250px"
    >
      <form [formGroup]="searchForm" (ngSubmit)="filterTable(searchForm.value)">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="transactionID" class="search_label"
                >Transactions ID</label
              >
              <input
                type="text"
                class="form-control search_input"
                formControlName="transactionID"
                id="transactionId"
              />
            </div>
          </div>

          <!-- <div class="col-md-4">
            <div class="form-group">
              <label for="terminalId" class="search_label">Terminal ID</label>
              <input
                type="text"
                class="form-control search_input"
                formControlName="terminalId"
                id="terminalId"
              />
            </div>
          </div> -->

          <div class="col-md-4">
            <div class="form-group">
              <label for="rrn" class="search_label">RRN</label>
              <input
                type="text"
                class="form-control search_input"
                formControlName="rrn"
                id="rrn"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="transactionType" class="search_label"
                >Transactions Type</label
              >
              <input
                type="text"
                class="form-control search_input"
                formControlName="transactionType"
                id="transactionType"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="startDate" class="search_label">Start Date</label>
              <input
                type="date"
                class="form-control search_input"
                formControlName="startDate"
                id="startDate"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="endDate" class="search_label">End Date </label>
              <input
                type="date"
                class="form-control search_input"
                formControlName="endDate"
                id="endDate"
              />
            </div>
          </div>
        </div>

        <div class="button-section text-right">
          <button class="btn button-white" (click)="showFilter = false">
            Close
          </button>

          <button class="btn button-pink">
            Apply Filters

            <div
              *ngIf="isFiltering"
              class="spinner-border spinner-border-sm ml-3"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- REFRESH BUTTON  -->
  <button class="btn btn-secondary reset-filter" (click)="refreshTableData()">
    <i class="fa fa-refresh" [class.isLoading]="isLoading"></i>
    {{ isLoading ? "Loading" : "Refresh" }}
  </button>

  <!-- FILTER BY CODE ENDS HERE  -->

  <!-- New Header Ends HEre  -->
</div>

<div class="table-container custom-table animated fadeIn">
  <div class="card-body">
    <app-rex-loader [isPushed]="true" *ngIf="!transactions"></app-rex-loader>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Date/Time</th>
          <th scope="col">Transaction ID</th>
          <th scope="col">Merchant</th>
          <th scope="col">RRN</th>
          <th scope="col">STAN</th>
          <th scope="col">PAN/Account</th>
          <th scope="col">Amount</th>
          <th scope="col">Currency</th>
          <th scope="col">Type</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let txn of transactions">
          <td>{{ txn.creationDate | date: "medium" }}</td>
          <td>{{ txn.tid }}</td>
          <td>{{ txn.mid }}</td>

          <td>{{ txn.rrn }}</td>
          <td>{{ txn.stan }}</td>
          <td>{{ txn.pan }}</td>
          <td>&#8358;{{ txn.amount }}</td>
          <td>{{ txn.currencyCode }} ({{ txn.currencyAlpha }})</td>

          <td>{{ txn.type }}</td>
          <td>
            <span
              class="status"
              [class.approved]="txn.status === 'APPROVED'"
              [class.declined]="txn.status === 'DECLINED'"
            >
              {{ txn.status }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <span class="empty-state" *ngIf="transactions?.length === 0"
      >No Records Found</span
    >
  </div>
</div>

<!-- PAGE SIZE  -->
<!-- <div class="text-right mt-4 page_size_section animated fadeIn">
  <span>Number of Items:&nbsp;&nbsp;</span>
  <span> Num Here </span>

  <span class="ml-3">Page size:</span>
  <form class="inline_select">
    <select class="form-control form-control-sm" #setPageSizeId>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="50">50</option>
    </select>
  </form>
</div> -->

<!-- PAGINATION  -->

<app-rex-pagination
  [data]="transactions"
  [totalElements]="dataCount"
  (pageCountSelected)="requestPageSize($event)"
  (refreshData)="onRefreshData($event)"
  *ngIf="isLoaded"
   (onDownloadAsCSV)="onDownloadAsCSV()"
></app-rex-pagination>

<!-- <div class="paginate mt-2 animated fadeIn">
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          2
          <span class="sr-only">(current)</span>
        </span>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav> -->

<!-- EXPORT BUTTON 

  <div class="export-button animated fadeIn">
    <button
      type="button"
      class="btn btn-light button-plain-icon"
      (click)="generateCSV()"
    >
      <i class="fa fa-download"></i>
      Download As CSV
    </button>
    <div
      class="spinner-border spinner-border-sm ml-3"
      role="status"
      *ngIf="isCSVLoading"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div> -->
