<div class="main_dashboard_flow">
  <div class="details_section">
    <div class="form_area">
      <div class="row">
        <div class="col-md-6">
          <span>Acquirer Name</span>
          <p><strong>Sample Acquirer Name</strong></p>
        </div>
        <div class="col-md-6">
          <span>Acquirer Short Name</span>
          <p><strong>Short Name</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>CBN Code</span>
          <p><strong>182735477</strong></p>
        </div>
        <div class="col-md-6">
          <span>Terminal Prefix</span>
          <p><strong>024</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Acquirer's Processor (Mastercard)</span>
          <p><strong>Sample Processor</strong></p>
        </div>
        <div class="col-md-6">
          <span>Mastercard's Acquiring BIN</span>
          <p><strong>Sample Acquiring BIN</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Acquirer's Processor (VISA)</span>
          <p><strong>Sample Processor</strong></p>
        </div>
        <div class="col-md-6">
          <span>VISA's Acquiring BIN</span>
          <p><strong>Sample Acquiring BIN</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Acquirer's Processor (VERVE)</span>
          <p><strong>Sample Processor</strong></p>
        </div>
        <div class="col-md-6">
          <span>VERVE's Acquiring BIN</span>
          <p><strong>Sample Acquiring BIN</strong></p>
        </div>
      </div>
      <button
        class="btn action_button_update"
        data-toggle="modal"
        data-target="#editAcquirer"
      >
        Edit Acquirer
      </button>
    </div>
  </div>
</div>

<!-- EDIT AQUIRER MODAL  -->
<div
  class="modal animated zoomIn"
  id="editAcquirer"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editAcquirerLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="editAcquirerLabel">Edit Acquirer</h5>
        <form [formGroup]="editAcquirerForm">
          <!-- RELEVANT CODE HERE  -->
          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="merchantName"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantName">Acquirer's Name</label>
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="merchantName"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantName">Acquirer's Short Name</label>
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="merchantName"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantName">Acquirer's CBN Code</label>
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="merchantName"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantName">Acquirer's Terminal Prefix</label>
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="terminalId"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantId"
                    >Acquirer's Processor (Mastercard)</label
                  >
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="terminalId"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantId">Mastercard's Acquiring BIN</label>
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="terminalId"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantId">Acquirer's Processor (VISA)</label>
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="terminalId"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantId">VISA's Acquiring BIN</label>
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="terminalId"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantId">Acquirer's Processor (VERVE)</label>
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="terminalId"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantId">VERVE's Acquiring BIN</label>
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- RELEVANT CODE HERE  -->

          <div class="form_actions">
            <div class="cancel_button" data-dismiss="modal">
              <!-- (click)="createMerchantForm.reset()" -->
              Cancel
            </div>
            <button class="btn action_button">
              <!-- (click)="createUser(createMerchantForm.value)" -->
              <i class="fa fa-plus animated slideIn"></i>
              Save Changes
            </button>

            <div
              class="spinner-border spinner-border-sm ml-3"
              *ngIf="expression"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
