.header {
  margin-top: 4.5rem;
  // padding-bottom: 1.9rem;
}

.top_buttons {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.back_button {
  border: 1px solid #afafaf;
  background: transparent;
  color: #585858;
  border-radius: 3.5px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Montserrat';
  padding: 0.45rem 1rem;
  width: fit-content;
  cursor: pointer;
}



.back_button i {
  margin-right: 0.5rem;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  color: #585858;
}

.header__text {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 1.32rem !important;
  display: flex;
  font-weight: 600;
  // margin-bottom: 2.13rem;
  justify-content: space-between;
  padding-left: 2rem;
}

.header__text {
  padding-left: 0rem;
}
