<div class="top_buttons">
  <span class="back_button" routerLink="../../routes">
    <i class="fa fa-long-arrow-left"></i> Return to Routes List
  </span>
</div>
<div class="main_dashboard_flow">
  <div class="details_section">
    <div class="form_area">
      <h4>Add Route</h4>
      <p class="sub_header">
        Please provide details of the route you wish to add.
      </p>
      <form [formGroup]="createRouteForm" (ngSubmit)="createRoute()">
        <div class="form-group">
          <div style="margin-bottom: 1rem" class="row">
            <div class="col">
              <span class="has-float-label">
                <select
                  formControlName="default_ds"
                  type="text"
                  class="form-control"
                  placeholder=""
                >
                  <option
                    *ngFor="let station of stations"
                    value="{{ station.name }}"
                  >
                    {{ station.name }}
                  </option>
                </select>
                <label for="terminal">Default Destination Station</label>
              </span>
              <div
                *ngIf="
                  createRouteForm.get('default_ds').errors &&
                  (createRouteForm.get('default_ds').dirty ||
                    createRouteForm.get('default_ds').touched)
                "
                class="validation-message"
              >
                <span
                  class="validation-message"
                  [hidden]="
                    !createRouteForm.get('default_ds').hasError('required')
                  "
                >
                  Default Destination Station is required
                  <br />
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="has-float-label">
                <select
                  formControlName="rule"
                  type="text"
                  class="form-control"
                  placeholder=""
                >
                  <option
                    *ngFor="let rule of ruletypes"
                    value="{{ rule }}"
                    value="down"
                  >
                    {{ rule }}
                  </option>
                </select>
                <label for="terminal">Rule Type</label>
              </span>
              <div
                *ngIf="
                  createRouteForm.get('rule').errors &&
                  (createRouteForm.get('rule').dirty ||
                    createRouteForm.get('rule').touched)
                "
                class="validation-message"
              >
                <span
                  class="validation-message"
                  [hidden]="!createRouteForm.get('rule').hasError('required')"
                >
                  Rule Type is required
                  <br />
                </span>
              </div>
            </div>
          </div>
        </div>
        <p
          style="color: #585858; font-size: 13px; font-weight: bold"
          class="form-group"
        >
          Rule Configuration
        </p>
        <div
          class="rule-config"
          formArrayName="rule_config"
          *ngFor="
            let ruleConfig of createRouteForm.get('rule_config')['controls'];
            let i = index
          "
        >
          <p
            style="text-align: right; color: red; font-size: 12px"
            *ngIf="i > 0"
            (click)="removeConfig()"
          >
            Remove
          </p>
          <hr *ngIf="i > 0" />
          <div [formGroupName]="i">
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <span class="has-float-label">
                    <input
                      formControlName="rule"
                      type="hidden"
                      class="form-control"
                      placeholder=""
                      [value]="createRouteForm.get('rule').value"
                    />
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <span class="has-float-label">
                    <input
                      formControlName="value"
                      type="text"
                      class="form-control"
                      placeholder=""
                    />
                    <label for="terminal">Value</label>
                  </span>
                  <div
                    *ngIf="
                      ruleConfig.get('value').errors &&
                      (ruleConfig.get('value').dirty ||
                        ruleConfig.get('value').touched)
                    "
                    class="validation-message"
                  >
                    <span
                      class="validation-message"
                      [hidden]="!ruleConfig.get('value').hasError('required')"
                    >
                      Value is required
                      <br />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <span class="has-float-label">
                    <input
                      formControlName="min"
                      type="text"
                      class="form-control"
                      placeholder=""
                      id="min"
                    />
                    <label for="min">Min</label>
                  </span>
                  <div
                    *ngIf="
                      ruleConfig.get('min').errors &&
                      (ruleConfig.get('min').dirty ||
                        ruleConfig.get('min').touched)
                    "
                    class="validation-message"
                  >
                    <span
                      class="validation-message"
                      [hidden]="!ruleConfig.get('min').hasError('required')"
                    >
                      Min is required
                      <br />
                    </span>
                  </div>
                </div>
                <div class="col">
                  <span class="has-float-label">
                    <input
                      formControlName="max"
                      type="text"
                      class="form-control"
                      placeholder=""
                      id="Max"
                    />
                    <label for="Max">Max</label>
                  </span>
                  <div
                    *ngIf="
                      ruleConfig.get('max').errors &&
                      (ruleConfig.get('max').dirty ||
                        ruleConfig.get('max').touched)
                    "
                    class="validation-message"
                  >
                    <span
                      class="validation-message"
                      [hidden]="!ruleConfig.get('max').hasError('required')"
                    >
                      Max is required
                      <br />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <span class="has-float-label">
                    <input
                      formControlName="ds"
                      type="text"
                      class="form-control"
                      placeholder=""
                    />
                    <label for="terminal">Destination Station</label>
                  </span>
                  <div
                    *ngIf="
                      ruleConfig.get('ds').errors &&
                      (ruleConfig.get('ds').dirty ||
                        ruleConfig.get('ds').touched)
                    "
                    class="validation-message"
                  >
                    <span
                      class="validation-message"
                      [hidden]="!ruleConfig.get('ds').hasError('required')"
                    >
                      Destination Station is required
                      <br />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="add-more"
          [disabled]="createRouteForm.get('rule_config').invalid"
          (click)="duplicateForm()"
          style="color: green; font-size: 13px; border: 0; font-weight: bold"
          type="submit"
        >
          Add More Configurations
        </button>
        <hr />
        <input
          formControlName="use_default"
          style="background-color: #2c9220"
          type="checkbox"
        />
        Use Default
        <button
          class="btn action_button_update"
          type="submit"
          [disabled]="createRouteForm.invalid"
        >
          Add Route
        </button>
        <!-- <div
          class="spinner-border spinner-border-sm ml-3"
          role="status"
          *ngIf="isAddingRoute"
        >
          <span class="sr-only">Loading...</span>
        </div> -->
      </form>
    </div>
  </div>
</div>
