<div class="main_dashboard_flow">
  <div class="details_section">
    <div class="form_area">
      <h4>Add Route</h4>
      <p class="sub_header">Please provide details of the route you wish to add.</p>
      <form [formGroup]="createRouteForm" (ngSubmit)="createRoute()">
        <div class="form-group">
          <div class="row">
            <div class="col">
              <span class="has-float-label">
                <select formControlName="station" type="text" class="form-control" placeholder="">
                  <option *ngFor="let rule of ruletypes" value="{{rule}}">{{rule}}</option>
                </select>
                <label for="terminal">Default Destination Station</label>
              </span>
            </div>
          </div>
        </div>
        <p style="color: #585858; font-size: 13px; font-weight: bold;" class="form-group">Rule Configuration</p>
        <div formArrayName="ruleConfig"
          *ngFor="let ruleConfig of createRouteForm.get('ruleConfig').controls; let i = index;">
          <div [formGroupName]='i'>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <span class="has-float-label">
                    <select formControlName="ruleType" type="text" class="form-control" placeholder="">
                      <option *ngFor="let rule of ruletypes" value="{{rule}}" value="down">{{rule}}</option>
                    </select>
                    <label for="terminal">Rule Type</label>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <span class="has-float-label">
                    <input formControlName="value" type="text" class="form-control" placeholder="" />
                    <label for="terminal">Value</label>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <span class="has-float-label">
                    <input formControlName="min" type="text" class="form-control" placeholder="" />
                    <label for="terminal">Min</label>
                  </span>
                </div>
                <div class="col">
                  <span class="has-float-label">
                    <input formControlName="max" type="text" class="form-control" placeholder="" />
                    <label for="terminal">Max</label>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <span class="has-float-label">
                    <input formControlName="destinationStation" type="text" class="form-control" placeholder="" />
                    <label for="terminal">Destination Station</label>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p (click)="duplicateForm()" style="color: #C91C24; font-size: 13px;">Add More</p>
        <hr>
        <input formControlName="useDefault" style="color: #2C9220;" type="checkbox"> Use Default
        <button class="btn action_button_update" type="submit" data-toggle="modal" data-target="#editAcquirer">
          Add Route
        </button>
      </form>
    </div>
  </div>
</div>