@import "~src/app/pages/shared/styles/header"; //Importation for page header
@import "~src/app/pages/shared/styles/custom-table";

@import "./../../../../shared/styles/floating-label";
@import "./../../../../shared/styles/buttons";

// ******BUTTONS TOGGLER*********
.top_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left_switcher {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu_section {
  // min-width: 100%;
  background: #ffffff;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0.4rem;
  margin: 1rem 0;
}

.menu {
  border: 0;
  padding: 0.3rem 2rem;
  // background: #ffffff;
  color: black;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.menu:active,
.menu.active {
  border-radius: 0.7rem;
  background: #c91c24;
  color: white;
}

.animated {
  font-family: "Montserrat";
  font-weight: 800;
  border-radius: 12px;
  padding-top: 5%;
}

// HEADER BUTTONS
.header_buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.date,
.status {
  border: 1px solid #0000001f;
  border-radius: 5px;
  margin-left: 1.5rem;
  padding: 0.1rem 0.6rem;
}

.action_button_disable {
  background-color: #f9f6e3;
  color: #c9ae1c;
  padding: 0.6rem 1rem;
  font-family: "Montserrat Bold", serif;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 0.35s ease-in-out;
  font-weight: bold;
  // border: 0.5px solid #ffd1ce;
  font-size: 0.8125rem;
  margin-top: 2rem;
}

.action_button_enable {
  background-color: #e0f1d6;
  color: #4dc91c;
  padding: 0.8rem 1rem;
  font-family: "Montserrat Bold", serif;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 0.35s ease-in-out;
  // border: 0.5px solid #c9ae1c;
  font-size: 0.79rem;
  margin-top: 2rem;
  cursor: pointer;
}

.action_button_enable:hover {
  background-color: #4dc91c;
  border: none;
  //transition: all 0.3s ease-in-out;

  color: #ffffff;
}

.action_button_disable:hover {
  background-color: #c9ae1c;
  border: none;
  //transition: all 0.3s ease-in-out;

  color: #f0f0f0;
}

// DISABLE MODAL STYLE
.action_button {
  background-color: #ffd1ce;
  color: #950007;
  padding: 0.6rem 1rem;
  font-family: "Montserrat Bold", serif;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 0.35s ease-in-out;
  font-weight: bold;
  border: 0.5px solid #ffd1ce;
  font-size: 0.8125rem;
}

.form_actions .cancel_button {
  background: #ffffff 0% 0% no-repeat padding-box;
  color: #747474;
  padding: 0.4rem 1.2rem;
  font-family: "Montserrat Bold", serif;
  font-weight: bold;
  margin-top: -5px;
  font-size: 0.7125rem;
  transition: all ease-in-out 0.5s;
  border-radius: 6px;
  width: fit-content;
  margin-top: 1rem;
  cursor: pointer;
  margin-left: 1rem;
  border: 0px solid #cbcbcb;
}

.form_actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  min-width: 100%;
}

.modal-body {
  padding: 2rem;
  font-family: "Montserrat", serif;
}

.modal-title {
  font-family: "Montserrat Bold", serif;
  margin-bottom: 1rem;
}

.action_button:hover {
  background-color: #950007;
  border: 0.5px solid #950007;
  //transition: all 0.3s ease-in-out;

  color: #f0f0f0;
}
.action_button i {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.action_button:hover i {
  // padding-left: 1rem;
  opacity: 1;
  margin-right: 0.5rem;
}

// ADD ROUTE BUTTON

.action_button_addRoute {
  background-color: #ffd1ce;
  color: #950007;
  padding: 0.6rem 1rem;
  font-family: "Montserrat Bold", serif;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 0.35s ease-in-out;
  font-weight: bold;
  border: 0.5px solid #ffd1ce;
  font-size: 0.8125rem;
}

.action_button_addRoute:hover {
  background-color: #950007;
  border: 0.5px solid #950007;
  color: #f0f0f0;
}

.action_button_addRoute i {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.action_button_addRoute:hover i {
  opacity: 1;
  margin-right: 0.5rem;
}

// .animated[_ngcontent-c5] {
//   padding-top: 1%;
// }
