<div
  [hidden]="currentUrl.includes('/merchant-terminals/')"
  class="header animated fadeIn"
>
  <div class="top_buttons">
    <span
      (click)="backClicked()"
      class="back_button"
      routerLink="../../acquirers"
    >
      <i class="fa fa-long-arrow-left"></i> Return to Acquirer List
    </span>
  </div>
  <div class="header_buttons">
    <div [hidden]="currentUrl.includes('/merchant-terminals/')">
      <span class="name">
        <img src="../../../../../../assets/images/girl.svg" alt="avater" />
        {{ acquirerName }}</span
      >
      <span class="date">{{ createdAt | date: "medium" }}</span>
      <span class="status"> Status: {{ acquirerStatus | titlecase }}</span>
    </div>
    <div *ngIf="permissions.includes('CAN_MANAGE_CLIENTS')">
      <span
        style="cursor: pointer"
        *ngIf="
          acquirerStatus === 'ACTIVE' && currentUrl.includes('acquirer-details')
        "
        class="action_button_disable"
        data-toggle="modal"
        data-target="#disableAcquirerModal"
        >Disable Aquirer</span
      >
      <span
        class="action_button_enable animated fadeIn"
        (click)="enableAcquirer()"
        *ngIf="
          acquirerStatus === 'INACTIVE' &&
          currentUrl.includes('acquirer-details')
        "
        >Enable Aquirer</span
      >

      <!-- <span
        style="cursor: pointer"
        *ngIf="
          acquirerStatus === 'ACTIVE' &&
          currentUrl.includes('/merchant-details')
        "
        class="action_button_disable"
        data-toggle="modal"
        data-target="#disableMerchantModal"
        >Disable Merchant</span
      > -->

      <button
        class="btn action_button"
        data-toggle="modal"
        data-target="#createMerchant"
        *ngIf="
          !currentUrl.includes('/merchant-details') &&
          !currentUrl.includes('/merchant-transactions') &&
          !currentUrl.includes('/merchant-terminals') &&
          currentUrl.includes('/acquirer-merchants')
        "
      >
        <i class="fa fa-plus animated slideIn"></i>
        Add Merchant
      </button>
      <button
        class="btn action_button"
        data-toggle="modal"
        data-target="#createUser"
        *ngIf="
          !currentUrl.includes('/merchant-details') &&
          !currentUrl.includes('/merchant-transactions') &&
          !currentUrl.includes('/merchant-terminals') &&
          currentUrl.includes('/acquirer-users')
        "
      >
        <!-- <i class="fa fa-plus animated slideIn"></i> -->
        Add User
      </button>
    </div>
  </div>
</div>

<!-------BUTTONS SWITCH -------->
<div
  *ngIf="
    !currentUrl.includes('acquirer-merchants/') ||
    !currentUrl.includes('acquirer-merchants/')
  "
  class="top_row"
>
  <span class="left_switcher">
    <span class="menu_section">
      <span
        class="menu"
        routerLink="acquirer-details"
        [routerLinkActive]="['active']"
      >
        Details</span
      >
      <span
        class="menu"
        routerLink="./acquirer-users"
        [routerLinkActive]="['active']"
      >
        Users</span
      >
      <span
        class="menu"
        routerLink="./acquirer-merchants"
        [routerLinkActive]="['active']"
        *ngIf="userType === 'ADMIN'"
      >
        Merchants</span
      >
      <span
        class="menu"
        routerLink="./acquirer-transactions"
        [routerLinkActive]="['active']"
        *ngIf="userType === 'ADMIN'"
      >
        Transactions</span
      >
      <!-- <span
        *ngIf="permissions.includes('CAN_VIEW_CLIENT_PTSPS')"
        class="menu"
        routerLink="acquirer-fee-sharing"
        [routerLinkActive]="['active']"
        >Fee Sharing</span
      > -->
      <span
        class="menu"
        routerLink="./acquirer-routes"
        [routerLinkActive]="['active']"
        *ngIf="permissions.includes('CAN_VIEW_CLIENT_ROUTING_RULES')"
      >
        Routes</span
      >
      <span
        class="menu"
        routerLink="./acquirer-ptsps"
        [routerLinkActive]="['active']"
        *ngIf="permissions.includes('CAN_VIEW_CLIENT_PTSPS')"
      >
        Ptsps</span
      >
    </span>
  </span>
</div>
<!-- 
<div
  *ngIf="
    currentUrl.includes('/merchant-details') ||
    currentUrl.includes('/merchant-transactions')
  "
  class="top_row"
>
  <span class="left_switcher">
    <span class="menu_section">
      <span
        class="menu"
        routerLink="../../acquirer-merchants/../merchant-details"
        [routerLinkActive]="['active']"
      >
        Details</span
      >
      <span
        class="menu"
        routerLink="merchant-transactions"
        [routerLinkActive]="['active']"
        >Transactions</span
      >
    </span>
  </span>
</div> -->

<!-- ../../../acquirer-merchants/{{
    merchantId
  }}/merchant-transactions -->

<!-- DISABLE MERCHNAT MODAL -->

<div
  class="modal animated zoomIn"
  id="disableAcquirerModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="DisableUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="createUserLabel">Disable Acquirer</h5>
        <br />
        <p>
          You are about to disable acquirer "{{ acquirerName }}". Please confirm
          this action to continue.
        </p>
        <br />
        <div class="form_actions">
          <div class="cancel_button" data-dismiss="modal">Cancel</div>
          <button
            class="btn action_button"
            (click)="disableAcquirer(acquirerId)"
          >
            Disable Acquirer
          </button>

          <div
            *ngIf="disablingAcquirer"
            class="spinner-border spinner-border-sm ml-3"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CREATE MERCHANT  -->
<div
  class="modal animated zoomIn"
  id="createMerchant"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="createUserLabel">Add Merchant</h5>
        <form [formGroup]="createMerchantForm" (ngSubmit)="addNewMerchant()">
          <div class="row">
            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="merchantName"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="merchantName"
                  />
                  <label for="merchantName">Merchant Name</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('merchantName').errors &&
                  createMerchantForm.get('merchantName').touched
                "
                >Merchant Name is required.</span
              >
            </div>

            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="merchantKey"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="merchantKey"
                  />
                  <label for="merchantKey">Merchant Key</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('merchantKey').errors &&
                  createMerchantForm.get('merchantKey').touched
                "
                >Merchant Key is required.</span
              >
            </div>

            <div
              *ngIf="userSettings?.auto_mid != true"
              class="col-md-12 no-padding"
            >
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="merchantId"
                    type="text"
                    class="form-control"
                    maxlength="15"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantId">Merchant ID</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('merchantId').hasError('required') &&
                  createMerchantForm.get('merchantId').touched
                "
                >Merchant ID is required.</span
              >
              <span
                class="validation-message"
                *ngIf="
                  !createMerchantForm.get('merchantId').hasError('required') &&
                  createMerchantForm.get('merchantId').hasError('minlength')
                "
              >
                {{ messages.merchantId.length }}
              </span>
            </div>

            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="merchantToken"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="merchantToken"
                  />
                  <label for="merchantToken">Merchant Token</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('merchantToken').errors &&
                  createMerchantForm.get('merchantToken').touched
                "
                >Merchant Token is required.</span
              >
            </div>

            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="categoryCode"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="categoryCode"
                  >
                    <option
                      [value]="categoryCode['MCC CODE']"
                      *ngFor="let categoryCode of merchantCategoryCodes"
                    >
                      {{ categoryCode.fullCatLabel }}
                    </option>
                  </select>
                  <label for="categoryCode">Merchant Category Code</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('categoryCode').errors &&
                  createMerchantForm.get('categoryCode').touched
                "
                >Merchant Category Code is required.</span
              >
            </div>

            <div class="col-md-4 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="currency"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="currency"
                  >
                    <option
                      [value]="currency['ISO4217-currency_numeric_code']"
                      *ngFor="let currency of currencyCodes"
                    >
                      {{ currency.fullCurrencyLabel }}
                    </option>
                  </select>
                  <label for="currency">Currency</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('currency').errors &&
                  createMerchantForm.get('currency').touched
                "
                >Currency is required.</span
              >
            </div>

            <div class="col-md-4 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="countryCode"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    (change)="
                      onSelectCountryCode(createMerchantForm.value.countryCode)
                    "
                    formControlName="countryCode"
                  >
                    <option
                      [value]="countryCode['ISO3166-1-numeric']"
                      *ngFor="let countryCode of countryCodes"
                    >
                      {{ countryCode.fullCountryLabel }}
                    </option>
                  </select>
                  <label for="countryCode">Country Code</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('countryCode').errors &&
                  createMerchantForm.get('countryCode').touched
                "
                >Country Code is required.</span
              >
            </div>

            <div class="col-md-4 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="city"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="city"
                  >
                    <option
                      [value]="city['subdivision_name']"
                      *ngFor="let city of allCities"
                    >
                      {{ city["subdivision_name"] }}
                    </option>
                  </select>
                  <label for="city">City</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('city').errors &&
                  createMerchantForm.get('city').touched
                "
                >City is required.</span
              >
            </div>

            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="timezoneId"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="timezoneId"
                  >
                    <option
                      [value]="+timezone.id"
                      *ngFor="let timezone of allTimeZones"
                    >
                      {{ timezone.timeZoneName }}
                    </option>
                  </select>
                  <label for="timezoneId">Time Zone</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  createMerchantForm.get('timezoneId').errors &&
                  createMerchantForm.get('timezoneId').touched
                "
                >Timezone is required.</span
              >
            </div>
          </div>
          <div class="form_actions">
            <button
              class="cancel_button"
              type="button"
              data-dismiss="modal"
              id="cancel_button_add_merchant"
              (click)="createMerchantForm.reset()"
            >
              Cancel
            </button>
            <button
              class="btn button-primary"
              [disabled]="
                createMerchantForm.invalid ||
                isLoadingCities ||
                isCreatingMerchant
              "
              type="submit"
            >
              Add Merchant
            </button>

            <div
              class="spinner-border spinner-border-sm ml-3"
              *ngIf="isCreatingMerchant || isLoadingCities"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- CREATE USER FORM  -->
<div
  class="modal animated zoomIn"
  id="createUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="createUserLabel">Add User</h5>
        <form [formGroup]="createUserForm">
          <!-- RELEVANT CODE HERE  -->

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="username"
                    type="text"
                    placeholder=" "
                    formControlName="username"
                  />
                  <label for="terminalId">Username</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('username').errors &&
                    (createUserForm.get('username').dirty ||
                      createUserForm.get('username').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !createUserForm.get('username').hasError('required')
                    "
                  >
                    {{ messages.username.required }}
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="firstName"
                    type="text"
                    placeholder=" "
                    formControlName="firstName"
                  />
                  <label for="firstName">Firstname</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('firstName').errors &&
                    (createUserForm.get('firstName').dirty ||
                      createUserForm.get('firstName').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !createUserForm.get('firstName').hasError('required')
                    "
                  >
                    {{ messages.firstname.required }} <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="surname"
                    type="text"
                    placeholder=" "
                    formControlName="surname"
                  />
                  <label for="surname">Lastname</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('surname').errors &&
                    (createUserForm.get('surname').dirty ||
                      createUserForm.get('surname').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !createUserForm.get('surname').hasError('required')
                    "
                  >
                    {{ messages.lastname.required }}
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="email"
                    type="text"
                    placeholder=" "
                    formControlName="email"
                  />
                  <label for="email">Email</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('email').errors &&
                    (createUserForm.get('email').dirty ||
                      createUserForm.get('email').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="!createUserForm.get('email').hasError('invalid')"
                  >
                    {{ messages.email.invalid }}
                    <br />
                  </span>
                  <span
                    class="validation-message"
                    [hidden]="!createUserForm.get('email').hasError('required')"
                  >
                    {{ messages.email.required }}
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- 
          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    class="form-control"
                    id="roleId"
                    type="text"
                    placeholder=" "
                    formControlName="roleId"
                  >
                    <option
                      *ngFor="let role of listOfMerchantRoles"
                      value="{{ role?.id }}"
                    >
                      {{ role.name }}
                    </option>
                  </select>
                  <label for="roleId">User Role</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('roleId').errors &&
                    (createUserForm.get('roleId').dirty ||
                      createUserForm.get('roleId').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !createUserForm.get('roleId').hasError('required')
                    "
                  >
                    {{ messages.userRole.required }}
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div> -->

          <!-- RELEVANT CODE HERE  -->
          <div class="form_actions">
            <div
              class="cancel_button"
              data-dismiss="modal"
              (click)="createUserForm.reset()"
            >
              Cancel
            </div>
            <button
              class="btn action_button"
              (click)="createUser(createUserForm.value)"
              [disabled]="!createUserForm.valid || isLoading"
            >
              <!-- <i class="fa fa-plus animated slideIn"></i> -->
              Add User
            </button>

            <div
              class="spinner-border spinner-border-sm ml-3"
              role="status"
              *ngIf="isLoading"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
