@import "~src/app/pages/shared/styles/dashboard";

// ICONS STYLE
span > img {
  width: 65%;
}

.img-span {
  padding: 8px 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
