<div class="header my-5">
  <h2 class="header__text">Hi, {{currentUser.firstName | titlecase}}</h2>
  <span class="sub-head mb-3">Here is an overview of recent activities within your account</span>
</div>

<section>
  <div class="row">
    <div class="col-sm-3">
      <div class="terminals card">
        <div class="card-body">
          <div class="flex">
            <span>Terminals</span><span class="img-span" style="background-color: #cee1ff"><img
                src="../../../../../assets/images/pos-terminal (1).svg" alt="" /></span>
          </div>
          <h2 *ngIf="dashboardCount" class="header__text_number">
            {{ dashboardCount.terminalCounts }}
          </h2>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="merchants card">
        <div class="card-body">
          <div class="flex">
            <span>Merchants</span>
            <span class="img-span" style="background-color: #ffc1c4"><img
                src="../../../../../assets/images/users (2).svg" alt="go" /></span>
          </div>
          <h2 *ngIf="dashboardCount" class="header__text_number">
            {{ dashboardCount.merchantCounts }}
          </h2>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="Total-Transactions card">
        <div class="card-body">
          <div class="flex">
            <span>Total Transactions</span>
            <span class="img-span" style="background-color: #c2fff3"><img
                src="../../../../../assets/images/credit-card (7).svg" alt="go" /></span>
          </div>
          <h2 *ngIf="dashboardCount" class=" header__text_number">
            {{ dashboardCount.transactionCounts }}
          </h2>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="Mobile-Transactions card">
        <div class="card-body">
          <div class="flex">
            <span>Mobile Transactions</span>
            <span class="img-span" style="background-color: #ffe6c5"><img
                src="../../../../../assets/images/smartphone (3).svg" alt="go" /></span>
          </div>
          <h2 *ngIf="dashboardCount" class=" header__text_number">
            {{ dashboardCount.mobileMoneyCounts }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="row">
    <div class="col-sm-6">
      <div class="top-terminal-table card">
        <div class="card-body">
          <h6 class="header__text">Top Terminals</h6>
          <span class="sub-head mb-3">These are the top transacting terminals in the past 24 hours</span>
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Terminal ID</th>
                <th scope="col">Count</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let terminals of topTerminalStatistics">
                <td>{{ terminals.name }}</td>
                <td>{{ terminals.count }}</td>
                <td>{{ terminals.sum }}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="top-terminal-table card">
        <div class="card-body">
          <h6 class="header__text">Top Merchants</h6>
          <span class="sub-head mb-3">These are the top transacting merchants in the past 24 hours</span>
          <table class="table table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Merchant ID</th>
                <th scope="col">Count</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let merchants of topMerchantsStatistics">
                <td>{{ merchants.mid }}</td>
                <td>{{ merchants.count }}</td>
                <td>{{ merchants.sum }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>