<div class="header">
  <!-- <div class="top-header my-5">
  <div class="header">
    <h2 class="header__text">Terminals</h2>
    <span class="sub-head mb-3"
      >View details of every terminal on the platform</span
    >
  </div>
  <div class="action-btns">
    <button class="terminal-upload-btn">Bulk Terminal Upload</button>
    <button class="terminal-add-btn">Add Terminal</button>
  </div>
</div> -->

  <!-- Here is the first here  -->
  <div class="main-header">
    <div class="header__text animated fadeIn">
      <div>
        <span>My Users</span>
      </div>

      <div class="button_header_section">
        <button class="btn plain_button" routerLink="../manage-user-roles">
          Manage User Roles
        </button>
        <button
          class="btn action_button"
          data-toggle="modal"
          data-target="#createUser"
        >
          <i class="fa fa-plus animated slideIn"></i>
          Add User
        </button>
      </div>
    </div>
    <span>View users details profiled on RexConnect</span>
  </div>

  <!-- FILTER BY CODE  -->
  <div class="header__search">
    <span class="filter_click" (click)="showFilter = !showFilter">
      <img
        src="../../../../../assets/icons/Filter-Icon.svg"
        alt="search"
        class="img-fluid"
      />
      <span
        class="filter_text"
        id="dropdownMenuButton"
        onselectstart="return false"
        unselectable="on"
      >
        Filter Table By
      </span>
    </span>
    <div
      class="card search-dropdown"
      *ngIf="showFilter"
      id="filter__dropdown"
      style="height: 200px"
    >
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="firstname" class="search_label">First Name</label>
              <input
                type="text"
                class="form-control search_input"
                formControlName="firstname"
                id="firstname"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="lastname" class="search_label">Last Name</label>
              <input
                type="text"
                class="form-control search_input"
                formControlName="lastname"
                id="lastname"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="role" class="search_label">Role</label>
              <select
                type="text"
                class="form-control search_input"
                formControlName="role"
                id="role"
              >
                <option value="">Select role</option>
                <option></option>
              </select>
            </div>
          </div>
        </div>

        <div class="button-section text-right">
          <button class="btn button-white">Close</button>

          <button class="btn button-pink">
            Apply Filters

            <div class="spinner-border spinner-border-sm ml-3" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Reset button -->
  <button class="btn btn-secondary reset-filter" (click)="reset()">
    <!-- <i class="fa fa-refresh fa-fast-spin"></i> -->
    <i class="fa fa-refresh"></i>
    Refresh
  </button>

  <!-- TODO: -->
  <div
    class="spinner"
    *ngIf="isLoading"
    id="loading-bar-spinner"
    style="margin-left: 4.5rem"
  >
    <div class="spinner-icon"></div>
  </div>
  <!-- TODO: -->
  <!-- FILTER BY CODE ENDS HERE  -->

  <!-- New Header Ends HEre  -->
</div>

<div class="table-container custom-table animated fadeIn">
  <div class="card-body">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allUsers">
          <!-- <td>{{ user.username }}</td>
          <td>{{ user.email }}</td> -->
          <!-- <td>{{user.phoneNumber}}</td> -->

          <!-- <td
            *ngIf="user.enabled === true"
            style="color: #22b422"
            class="active"
          >
            Active
          </td>
          <td
            *ngIf="user.enabled === false"
            style="color: #d80000"
            class="active"
          >
            Inactive
          </td>

          <td>
            <button
              class="btn table_button"
              data-toggle="modal"
              data-target="#editUser"
              (click)="initializeEditForm(user.id)"
            >
              Edit</button
            ><button class="btn table_button delete">Delete</button>
          </td>
        </tr> -->
        </tr>

        <tr *ngFor="let item of ngForArray">
          <td>Tomison02</td>
          <td>Ikenna30@gmail.com</td>
          <td>08167543567</td>
          <td style="color: #22b422" class="active">Active</td>
          <td>
            <button
              class="btn table_button"
              data-toggle="modal"
              data-target="#editUser"
              (click)="initializeEditForm()"
            >
              Edit</button
            ><button class="btn table_button delete">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- PAGE SIZE  -->
<div class="text-right mt-4 page_size_section animated fadeIn">
  <span>Number of Items:&nbsp;&nbsp;</span>
  <span>{{ dataCount }}</span>

  <span class="ml-3">Page size:</span>
  <form [formGroup]="pageSizeForm" class="inline_select">
    <select
      class="form-control form-control-sm select-edit"
      formControlName="pageSize"
      (change)="setPageSize(pageSizeForm.value.pageSize)"
      #setPageSizeId
    >
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
      <option value="50">50</option>
    </select>
  </form>
</div>

<!-- PAGINATION  -->
<div class="paginate mt-2 animated fadeIn">
  <nav aria-label="...">
    <ul class="pagination" *ngIf="allUsers?.length > 0">
      <li
        class="page-item disabled"
        (click)="previousPage(pager.currentPage)"
        *ngIf="pager.startPage !== pager.currentPage"
      >
        <span class="page-link">Previous</span>
      </li>
      <li
        class="page-item"
        aria-current="page"
        *ngFor="let page of pager.pages"
        [ngClass]="{ active: pager.currentPage === page }"
        (click)="getPage(page)"
      >
        <a class="page-link">
          {{ page }} <span class="sr-only">(current)</span>
        </a>
      </li>

      <li
        class="page-item"
        (click)="nextPage(pager.currentPage)"
        *ngIf="pager.endPage !== pager.currentPage"
      >
        <a class="page-link">Next</a>
      </li>
    </ul>
  </nav>

  <!-- EXPORT BUTTON  -->

  <div class="export-button animated fadeIn">
    <button
      type="button"
      class="btn btn-light button-plain-icon"
      (click)="generateCSV()"
    >
      <i class="fa fa-download"></i>
      Download As CSV
    </button>
    <div
      class="spinner-border spinner-border-sm ml-3"
      role="status"
      *ngIf="isCSVLoading"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<!-- ADD USER MODAL  -->
<div
  class="modal animated zoomIn"
  id="createUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="createUserLabel">Add User</h5>
        <form [formGroup]="createUserForm">
          <!-- RELEVANT CODE HERE  -->

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="username"
                    type="text"
                    placeholder=" "
                    formControlName="username"
                  />
                  <label for="terminalId">User's Name</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('username').errors &&
                    (createUserForm.get('username').dirty ||
                      createUserForm.get('username').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !createUserForm.get('username').hasError('invalid')
                    "
                  >
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="firstName"
                    type="text"
                    placeholder=" "
                    formControlName="firstName"
                  />
                  <label for="firstName">Firstname</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('firstName').errors &&
                    (createUserForm.get('firstName').dirty ||
                      createUserForm.get('firstName').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !createUserForm.get('firstName').hasError('invalid')
                    "
                  >
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="surname"
                    type="text"
                    placeholder=" "
                    formControlName="surname"
                  />
                  <label for="surname">Surname</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('surname').errors &&
                    (createUserForm.get('surname').dirty ||
                      createUserForm.get('surname').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !createUserForm.get('surname').hasError('invalid')
                    "
                  >
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="email"
                    type="text"
                    placeholder=" "
                    formControlName="email"
                  />
                  <label for="email">Email</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('email').errors &&
                    (createUserForm.get('email').dirty ||
                      createUserForm.get('email').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="!createUserForm.get('email').hasError('invalid')"
                  >
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    class="form-control"
                    id="roleId"
                    type="text"
                    placeholder=" "
                    formControlName="roleId"
                  >
                    <!-- <option value=""></option> -->
                    <option
                      *ngFor="let role of listOfMerchantRoles"
                      value="{{ role.id }}"
                    >
                      {{ role.name }}
                    </option>
                  </select>
                  <label for="roleId">User Role</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('roleId').errors &&
                    (createUserForm.get('roleId').dirty ||
                      createUserForm.get('roleId').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="!createUserForm.get('roleId').hasError('invalid')"
                  >
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- RELEVANT CODE HERE  -->
          <div class="form_actions">
            <div
              class="cancel_button"
              data-dismiss="modal"
              (click)="editUserForm.reset()"
            >
              Cancel
            </div>
            <button
              class="btn action_button"
              *ngIf="!isUserCreating"
              (click)="createUser(createUserForm.value)"
              [disabled]="!createUserForm.valid"
            >
              <i class="fa fa-plus animated slideIn"></i>
              Add User
            </button>

            <div
              class="spinner-border spinner-border-sm ml-3"
              role="status"
              *ngIf="isUserCreating"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- EDIT USER MODAL -->
<div
  class="modal animated zoomIn"
  id="editUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="createUserLabel">Edit User</h5>
        <form [formGroup]="editUserForm">
          <!-- RELEVANT CODE HERE  -->

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="username"
                    type="text"
                    placeholder=" "
                    formControlName="username"
                  />
                  <label for="username">User's Name</label>
                </span>
                <div
                  *ngIf="
                    editUserForm.get('username').errors &&
                    (editUserForm.get('username').dirty ||
                      editUserForm.get('username').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="!editUserForm.get('username').hasError('invalid')"
                  >
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="firstName"
                    type="text"
                    placeholder=" "
                    formControlName="firstName"
                  />
                  <label for="firstName">Firstname</label>
                </span>
                <div
                  *ngIf="
                    editUserForm.get('firstName').errors &&
                    (editUserForm.get('firstName').dirty ||
                      editUserForm.get('firstName').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !editUserForm.get('firstName').hasError('invalid')
                    "
                  >
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="surname"
                    type="text"
                    placeholder=" "
                    formControlName="surname"
                  />
                  <label for="surname">Surname</label>
                </span>
                <div
                  *ngIf="
                    editUserForm.get('surname').errors &&
                    (editUserForm.get('surname').dirty ||
                      editUserForm.get('surname').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="!editUserForm.get('surname').hasError('invalid')"
                  >
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="email"
                    type="text"
                    placeholder=" "
                    formControlName="email"
                  />
                  <label for="email">Email</label>
                </span>
                <div
                  *ngIf="
                    editUserForm.get('email').errors &&
                    (editUserForm.get('email').dirty ||
                      editUserForm.get('email').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="!editUserForm.get('email').hasError('invalid')"
                  >
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    class="form-control"
                    id="roleId"
                    type="text"
                    placeholder=" "
                    formControlName="roleId"
                  >
                    <!-- <option value=""></option> -->
                    <option
                      *ngFor="let role of listOfMerchantRoles"
                      value="{{ role.id }}"
                    >
                      {{ role.name }}
                    </option>
                  </select>
                  <label for="roleId">User Role</label>
                </span>
                <div
                  *ngIf="
                    editUserForm.get('roleId').errors &&
                    (editUserForm.get('roleId').dirty ||
                      editUserForm.get('roleId').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="!editUserForm.get('roleId').hasError('invalid')"
                  >
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- RELEVANT CODE HERE  -->

          <div class="form_actions">
            <div
              class="cancel_button"
              data-dismiss="modal"
              (click)="editUserForm.reset()"
            >
              Cancel
            </div>
            <button
              class="btn action_button"
              *ngIf="!isUserCreating"
              (click)="editUser(editUserForm.value)"
              [disabled]="!editUserForm.valid"
            >
              <i class="fa fa-plus animated slideIn"></i>
              Update User
            </button>

            <div
              class="spinner-border spinner-border-sm ml-3"
              role="status"
              *ngIf="isUserCreating"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
