<div class="header">
  <!-- <div class="top-header my-5">
  <div class="header">
    <h2 class="header__text">Terminals</h2>
    <span class="sub-head mb-3"
      >View details of every terminal on the platform</span
    >
  </div>
  <div class="action-btns">
    <button class="terminal-upload-btn">Bulk Terminal Upload</button>
    <button class="terminal-add-btn">Add Terminal</button>
  </div>
</div> -->

  <!-- Here is the first here  -->
  <div class="main-header">
    <div class="header__text animated fadeIn">
      <div>
        <span>My Users</span>
      </div>

      <div class="button_header_section">
        <button class="btn plain_button" routerLink="../manage-user-roles">
          Manage User Roles
        </button>
        <button
          class="btn action_button"
          data-toggle="modal"
          data-target="#createUser"
        >
          <i class="fa fa-plus animated slideIn"></i>
          Add User
        </button>
      </div>
    </div>
    <span>View users details profiled on RexConnect</span>
  </div>

  <!-- FILTER BY CODE  -->
  <div class="header__search">
    <span class="filter_click" (click)="showFilter = !showFilter">
      <img
        src="../../../../../assets/icons/Filter-Icon.svg"
        alt="search"
        class="img-fluid"
      />
      <span
        class="filter_text"
        id="dropdownMenuButton"
        onselectstart="return false"
        unselectable="on"
      >
        Filter Table By
      </span>
    </span>
    <div
      class="card search-dropdown"
      *ngIf="showFilter"
      id="filter__dropdown"
      style="height: 200px"
    >
      <form [formGroup]="searchForm" (ngSubmit)="searchBy(searchForm.value)">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="firstname" class="search_label">First Name</label>
              <input
                type="text"
                class="form-control search_input"
                formControlName="firstName"
                id="firstname"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="lastname" class="search_label">Last Name</label>
              <input
                type="text"
                class="form-control search_input"
                formControlName="lastName"
                id="lastname"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="role" class="search_label">Role</label>
              <select
                type="text"
                class="form-control search_input"
                formControlName="roleId"
                id="role"
              >
                <option
                  *ngFor="let role of listOfMerchantRoles"
                  value="{{ role?.id }}"
                >
                  {{ role.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="button-section text-right">
          <button class="btn button-white" (click)="showFilter = false">
            Close
          </button>

          <button class="btn button-pink" type="submit">
            Apply Filters

            <div class="spinner-border spinner-border-sm ml-3" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Reset button -->
  <button class="btn btn-secondary reset-filter" (click)="refreshTableData()">
    <i class="fa fa-refresh" [class.isLoading]="isLoading"></i>
    {{ isLoading ? "Loading" : "Refresh" }}
  </button>

  <!-- FILTER BY CODE ENDS HERE  -->

  <!-- New Header Ends HEre  -->
</div>

<div class="table-container custom-table animated fadeIn">
  <div class="card-body">
    <app-rex-loader [isPushed]="true" *ngIf="!allUsers"></app-rex-loader>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
          <!-- <th scope="col">Phone Number</th> -->
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allUsers">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <!-- <td>{{user.phoneNumber}}</td> -->

          <td
            *ngIf="user.enabled === true"
            style="color: #22b422"
            class="active"
          >
            Active
          </td>
          <td
            *ngIf="user.enabled === false"
            style="color: #d80000"
            class="active"
          >
            Inactive
          </td>

          <td>
            <button
              class="btn table_button"
              data-toggle="modal"
              data-target="#editUser"
              (click)="initializeEditForm(user.id)"
            >
              Edit</button
            ><button
              data-toggle="modal"
              data-target="#deleteUser"
              class="btn table_button delete"
              (click)="initializeDeleteModal(user)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <span class="empty-state" *ngIf="allUsers?.length === 0"
      >No Records Found</span
    >
  </div>
</div>

<!-- Pagination  -->
<app-rex-pagination
  [data]="allUsers"
  [totalElements]="dataCount"
  (pageCountSelected)="requestPageSize($event)"
  (onDownloadAsCSV)="beginDownload()"
  (refreshData)="onRefreshData($event)"
  *ngIf="isLoaded"
></app-rex-pagination>

<!-- ADD USER MODAL  -->
<div
  class="modal animated zoomIn"
  id="createUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="createUserLabel">Add User</h5>
        <form [formGroup]="createUserForm">
          <!-- RELEVANT CODE HERE  -->

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="username"
                    type="text"
                    placeholder=" "
                    formControlName="username"
                  />
                  <label for="terminalId">User's Name</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('username').errors &&
                    (createUserForm.get('username').dirty ||
                      createUserForm.get('username').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !createUserForm.get('username').hasError('required')
                    "
                  >
                    {{ validationMessage.username.required }}
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="firstName"
                    type="text"
                    placeholder=" "
                    formControlName="firstName"
                  />
                  <label for="firstName">Firstname</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('firstName').errors &&
                    (createUserForm.get('firstName').dirty ||
                      createUserForm.get('firstName').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !createUserForm.get('firstName').hasError('required')
                    "
                  >
                    {{ validationMessage.firstname.required }} <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="surname"
                    type="text"
                    placeholder=" "
                    formControlName="surname"
                  />
                  <label for="surname">Last Name</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('surname').errors &&
                    (createUserForm.get('surname').dirty ||
                      createUserForm.get('surname').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !createUserForm.get('surname').hasError('required')
                    "
                  >
                    {{ validationMessage.lastname.required }}
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="email"
                    type="text"
                    placeholder=" "
                    formControlName="email"
                  />
                  <label for="email">Email</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('email').errors &&
                    (createUserForm.get('email').dirty ||
                      createUserForm.get('email').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="!createUserForm.get('email').hasError('invalid')"
                  >
                    {{ validationMessage.email.invalid }}
                    <br />
                  </span>
                  <span
                    class="validation-message"
                    [hidden]="!createUserForm.get('email').hasError('required')"
                  >
                    {{ validationMessage.email.required }}
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    class="form-control"
                    id="roleId"
                    type="text"
                    placeholder=" "
                    formControlName="roleId"
                  >
                    <!-- <option value=""></option> -->
                    <option
                      *ngFor="let role of listOfMerchantRoles"
                      value="{{ role?.id }}"
                    >
                      {{ role.name }}
                    </option>
                  </select>
                  <label for="roleId">User Role</label>
                </span>
                <div
                  *ngIf="
                    createUserForm.get('roleId').errors &&
                    (createUserForm.get('roleId').dirty ||
                      createUserForm.get('roleId').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !createUserForm.get('roleId').hasError('required')
                    "
                  >
                    {{ validationMessage.userRole.required }}
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- RELEVANT CODE HERE  -->
          <div class="form_actions">
            <div
              class="cancel_button"
              data-dismiss="modal"
              (click)="editUserForm.reset()"
            >
              Cancel
            </div>
            <button
              class="btn action_button"
              (click)="createUser(createUserForm.value)"
              [disabled]="!createUserForm.valid || isLoading"
            >
              <i class="fa fa-plus animated slideIn"></i>
              Add User
            </button>

            <div
              class="spinner-border spinner-border-sm ml-3"
              role="status"
              *ngIf="isLoading"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- EDIT USER MODAL -->
<div
  class="modal animated zoomIn"
  id="editUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="editUserLabel">Edit User</h5>
        <form [formGroup]="editUserForm">
          <!-- RELEVANT CODE HERE  -->

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label popup">
                  <input
                    class="form-control"
                    id="username"
                    type="text"
                    placeholder=" "
                    formControlName="username"
                    readonly
                    (mouseover)="showUsernamePopupMessage()"
                    (mouseout)="showUsernamePopupMessage()"
                  />
                  <span class="popuptext" id="myPopup"
                    >Username cannot be Edited</span
                  >
                  <label for="username">User's Name</label>
                </span>
                <div
                  *ngIf="
                    editUserForm.get('username').errors &&
                    (editUserForm.get('username').dirty ||
                      editUserForm.get('username').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !editUserForm.get('username').hasError('required')
                    "
                  >
                    {{ validationMessage.username.required }}
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="firstName"
                    type="text"
                    placeholder=" "
                    formControlName="firstName"
                  />
                  <label for="firstName">Firstname</label>
                </span>
                <div
                  *ngIf="
                    editUserForm.get('firstName').errors &&
                    (editUserForm.get('firstName').dirty ||
                      editUserForm.get('firstName').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="
                      !editUserForm.get('firstName').hasError('required')
                    "
                  >
                    {{ validationMessage.firstname.required }}
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="surname"
                    type="text"
                    placeholder=" "
                    formControlName="surname"
                  />
                  <label for="surname">Last Name</label>
                </span>
                <div
                  *ngIf="
                    editUserForm.get('surname').errors &&
                    (editUserForm.get('surname').dirty ||
                      editUserForm.get('surname').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="!editUserForm.get('surname').hasError('required')"
                  >
                    {{ validationMessage.lastname.required }}
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label popup">
                  <input
                    class="form-control"
                    id="email"
                    type="text"
                    placeholder=" "
                    formControlName="email"
                    readonly
                    (mouseover)="showEmailPopupMessage()"
                    (mouseout)="showEmailPopupMessage()"
                  />
                  <span class="popuptext" id="emailPopup"
                    >Email Cannot be Edited</span
                  >
                  <label for="email">Email</label>
                </span>
                <div
                  *ngIf="
                    editUserForm.get('email').errors &&
                    (editUserForm.get('email').dirty ||
                      editUserForm.get('email').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="!editUserForm.get('email').hasError('required')"
                  >
                    {{ validationMessage.email.required }}
                    <br />
                  </span>
                  <span
                    class="validation-message"
                    [hidden]="!editUserForm.get('email').hasError('invalid')"
                  >
                    {{ validationMessage.email.invalid }}
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    class="form-control"
                    id="roleId"
                    type="text"
                    placeholder=" "
                    formControlName="roleId"
                  >
                    <!-- <option value=""></option> -->
                    <option
                      *ngFor="let role of listOfMerchantRoles"
                      value="{{ role.id }}"
                    >
                      {{ role.name }}
                    </option>
                  </select>
                  <label for="roleId">User Role</label>
                </span>
                <div
                  *ngIf="
                    editUserForm.get('roleId').errors &&
                    (editUserForm.get('roleId').dirty ||
                      editUserForm.get('roleId').touched)
                  "
                  class="validation-message"
                >
                  <span
                    class="validation-message"
                    [hidden]="!editUserForm.get('roleId').hasError('required')"
                  >
                    {{ validationMessage.userRole.required }}
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- RELEVANT CODE HERE  -->

          <div class="form_actions">
            <div
              class="cancel_button"
              data-dismiss="modal"
              (click)="editUserForm.reset()"
            >
              Cancel
            </div>
            <button
              class="btn action_button"
              (click)="editUser(editUserForm.value)"
              [disabled]="!editUserForm.valid || isLoading"
            >
              <i class="fa fa-plus animated slideIn"></i>
              Update User
            </button>

            <div
              class="spinner-border spinner-border-sm ml-3"
              role="status"
              *ngIf="isLoading"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- DELETE USED MODAL  -->
<div
  class="modal animated zoomIn"
  id="deleteUser"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="deleteUserLabel">Delete User</h5>
        <br />
        <p>
          You are about to delete user {{ userToBeDeleted?.username }}. Please
          confirm this action to continue.
        </p>
        <br />
        <div class="form_actions">
          <div class="cancel_button" data-dismiss="modal">Cancel</div>
          <button
            (click)="deleteUser(userToBeDeleted.id)"
            class="btn action_button"
            *ngIf="!isLoading"
          >
            <i class="fa fa-plus animated slideIn"></i>
            Delete User
          </button>

          <div
            class="spinner-border spinner-border-sm ml-3"
            *ngIf="isLoading"
            role="status"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
