<div class="header animated fadeIn">
  <div class="top_buttons">
    <span class="back_button" routerLink="../../../routes">
      <i class="fa fa-long-arrow-left"></i> Return to User List
    </span>
  </div>
  <div class="header_buttons">
    <div>
      <span class="name"> Default DS</span>
      <span class="date">Created: DEC 9, 2019, 12:04:56 AM</span>
      <span class="status">Active</span>
    </div>
  </div>
</div>

<div class="main_dashboard_flow">
  <div class="details_section">
    <div class="row">
      <div
        *ngFor="let routeConfig of routeConfigs; let i = index"
        class="form_area"
      >
        <div class="row">
          <div class="col-sm-6">
            <span class="title">Default Destination Station</span>
            <p>
              <strong>{{ defaultDestinationStaion }}</strong>
            </p>
          </div>
          <div class="col-sm-6">
            <span class="title">Rule Type</span>
            <p>
              <strong>{{ routeConfig.rule }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <span class="title">Value</span>
            <p>
              <strong>{{ routeConfig.value }}</strong>
            </p>
          </div>
          <div class="col-sm-6">
            <span class="title">Destination Station</span>
            <p>
              <strong>{{ routeConfig.ds }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <span class="title">Max</span>
            <p>
              <strong>{{ routeConfig.max }}</strong>
            </p>
          </div>
          <div class="col-sm-6">
            <span class="title">Min</span>
            <p>
              <strong>{{ routeConfig.min }}</strong>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12"><input type="checkbox" /> Use Default</div>
        </div>
        <button
          [routerLink]="['../../edit-routes', routeId]"
          class="btn action_button_update"
        >
          Edit Station
        </button>
      </div>
    </div>
  </div>
</div>
