<div class="top_buttons">
  <span class="back_button" routerLink="../../acquirers">
    <i class="fa fa-long-arrow-left"></i> Return to Client List
  </span>
</div>
<div class="main_dashboard_flow">
  <h1 class="page_header">Add Client</h1>
  <p class="page_subtitle">
    Please provide details of your client and the fee sharing format
  </p>
  <hr />

  <h5 class="page_subheader">Client Information</h5>
  <p class="page_subtitle">Enter the details of your client</p>
</div>

<!-- ADD AQUIRER  -->
<div id="createAcquirer" tabindex="-1" role="dialog">
  <form [formGroup]="createAcquirerForm">
    <!-- RELEVANT CODE HERE  -->

    <!-- ACQUIRER NAME  -->
    <div class="form-row">
      <div class="form-group col-md-4">
        <div class="">
          <span class="has-float-label">
            <input
              class="form-control"
              id="acquirerName"
              type="text"
              placeholder=" "
              formControlName="clientName"
            />
            <label for="acquirerName">Client's Name</label>
          </span>
          <div
            *ngIf="
              createAcquirerForm.get('clientName').errors &&
              (createAcquirerForm.get('clientName').dirty ||
                createAcquirerForm.get('clientName').touched)
            "
            class="validation-message"
          >
            <span
              class="validation-message"
              [hidden]="
                !createAcquirerForm.get('clientName').hasError('required')
              "
            >
              Client name is required
              <br />
            </span>
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="">
          <span class="has-float-label">
            <input
              class="form-control"
              id="acquirerShortName"
              type="text"
              placeholder=" "
              formControlName="shortName"
            />
            <label for="acquirerShortName">Client's Short Name</label>
          </span>
          <div
            *ngIf="
              createAcquirerForm.get('shortName').errors &&
              (createAcquirerForm.get('shortName').dirty ||
                createAcquirerForm.get('shortName').touched)
            "
            class="validation-message"
          >
            <span
              class="validation-message"
              [hidden]="
                !createAcquirerForm.get('shortName').hasError('required')
              "
            >
              Client short name is required
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- BANK CODE  -->
    <div class="form-row">
      <div class="form-group col-md-4">
        <div class="">
          <span class="has-float-label">
            <input
              class="form-control"
              id="bankCode"
              type="text"
              placeholder=" "
              formControlName="bankCode"
            />
            <label for="bankCode">Client's Code</label>
          </span>
          <div
            *ngIf="
              createAcquirerForm.get('bankCode').errors &&
              (createAcquirerForm.get('bankCode').dirty ||
                createAcquirerForm.get('bankCode').touched)
            "
            class="validation-message"
          >
            <span
              class="validation-message"
              [hidden]="
                !createAcquirerForm.get('bankCode').hasError('required')
              "
            >
              Client code is required
              <br />
            </span>
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="">
          <span class="has-float-label">
            <input
              class="form-control"
              id="terminalPrefix"
              type="text"
              placeholder="e.g. 2344, 3456, 4566 "
              formControlName="terminalPrefix"
            />
            <label for="terminalPrefix">Client's Terminal Prefix</label>
          </span>
          <div
            *ngIf="
              createAcquirerForm.get('terminalPrefix').errors &&
              (createAcquirerForm.get('terminalPrefix').dirty ||
                createAcquirerForm.get('terminalPrefix').touched)
            "
            class="validation-message"
          >
            <span
              class="validation-message"
              [hidden]="
                !createAcquirerForm.get('terminalPrefix').hasError('required')
              "
            >
              Terminal prefix is required
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <div class="form-group">
          <span class="has-float-label">
            <select
              id="countryCode"
              type="text"
              class="form-control"
              placeholder=" "
              formControlName="countryCode"
            >
              <option
                [value]="countryCode['ISO3166-1-numeric']"
                *ngFor="let countryCode of countryCodes"
              >
                {{ countryCode.fullCountryLabel }}
              </option>
            </select>
            <label for="countryCode">Country Code</label>
          </span>
        </div>
        <span
          class="validation-message"
          *ngIf="
            createAcquirerForm.get('countryCode').errors &&
            createAcquirerForm.get('countryCode').touched
          "
          >Country Code is required.</span
        >
      </div>
      <div class="form-group col-md-4">
        <div class="">
          <span class="has-float-label">
            <input
              class="form-control"
              id="currencyCode"
              type="text"
              placeholder=" "
              formControlName="clientAddress"
            />
            <label for="currencyCode">Client's Address</label>
          </span>
          <div
            *ngIf="
              createAcquirerForm.get('clientAddress').errors &&
              (createAcquirerForm.get('clientAddress').dirty ||
                createAcquirerForm.get('clientAddress').touched)
            "
            class="validation-message"
          >
            <span
              class="validation-message"
              [hidden]="
                !createAcquirerForm.get('clientAddress').hasError('required')
              "
            >
              Client address is required
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <div class="form-group">
          <span class="has-float-label">
            <select
              id="currency"
              type="text"
              class="form-control"
              placeholder=" "
              formControlName="currency"
            >
              <option
                [value]="currency['ISO4217-currency_numeric_code']"
                *ngFor="let currency of currencyCodes"
              >
                {{ currency.fullCurrencyLabel }}
              </option>
            </select>
            <label for="currency">Currency</label>
          </span>
        </div>
        <span
          class="validation-message"
          *ngIf="
            createAcquirerForm.get('currency').errors &&
            createAcquirerForm.get('currency').touched
          "
          >Currency is required.</span
        >
      </div>
      <div class="form-group col-md-4">
        <div class="">
          <span class="has-float-label">
            <input
              class="form-control"
              id="email"
              type="email"
              placeholder=" "
              formControlName="email"
            />
            <label for="email">Email</label>
          </span>
          <div
            *ngIf="
              createAcquirerForm.get('email').errors &&
              (createAcquirerForm.get('email').dirty ||
                createAcquirerForm.get('email').touched)
            "
            class="validation-message"
          >
            <span
              class="validation-message"
              [hidden]="!createAcquirerForm.get('email').hasError('required')"
            >
              Client email is required
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <!-- SELECT BUTTONS  -->
    <div class="form-row">
      <div class="col-md-4">
        <div class="">
          <button
            (click)="showDropdown = !showDropdown"
            class="drop-button"
            type="button"
            id=""
          >
            Select Routes
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          </button>
          <ul
            class="card dropdown-men search-dropdown"
            id=""
            style="position: absolute; z-index: 1234"
            *ngIf="showDropdown"
            class=""
            (click)="showDropdown = !showDropdown"
          >
            <li *ngFor="let rule of routingRules">
              <div style="font-family: Roboto Bold" class="general">
                <span>{{ rule.rule }}</span>
                <span
                  (click)="addRuleType(rule.id, rule.rule)"
                  class="dropdown-item"
                  *ngIf="!routingRulesToBeAdded?.includes(+rule.id)"
                  style="color: green; cursor: pointer"
                  >Add Route</span
                >
                <span
                  (click)="removeRuleType(+rule.id, rule.rule)"
                  *ngIf="routingRulesToBeAdded?.includes(+rule.id)"
                  style="color: red; cursor: pointer"
                  class="dropdown-item"
                  >Remove Route</span
                >
              </div>
            </li>
          </ul>
        </div>
        <div
          style="height: 153px; background-color: #fff; padding: 0.5rem"
          class="dropdown"
        >
          <span class="select_title">Rule Order</span>
          <span class="sub_select_title"
            >Note: This represents the order of preference for selected
            routes</span
          >

          <div class="badges">
            <span class="badge slideInDown" *ngFor="let rule of ruleOrder">
              {{ rule }}

              <i
                style="cursor: pointer"
                class="fa fa-remove"
                (click)="removeRuleFromRuleOrder(rule)"
              >
              </i>
            </span>
          </div>
        </div>
      </div>

      <div
        style="overflow-x: auto; height: 200px"
        class="ptsps-column col-md-4"
      >
        <p class="select_title">Select Ptsps</p>
        <input
          type="checkbox"
          id="select-all-for-ptsps"
          (click)="toggleAllPtspsCheckbox()"
        />
        <label style="margin-left: 9px" class="select-label" for="select-all"
          >Select all</label
        >
        <div *ngFor="let ptsp of ptspsList" class="form-check">
          <input
            class="form-check-input ptspsCheckBoxName"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            (change)="addPtsps(ptsp.id)"
          />
          <label
            class="select-all"
            class="form-check-label"
            for="flexCheckDefault"
            class="select-label"
          >
            {{ ptsp.ptspName }}
          </label>
        </div>
      </div>
    </div>

    <!-- FEE SHARING FORM -->
    <!-- <div>
      <h1>Fee Sharing</h1>
      <p>Enter the fee sharing format for this acquirer.</p>
    </div> -->

    <div class="form-row">
      <div class="form-group col-md-4">
        <div class="form_actions">
          <button
            class="btn action_button_update"
            [disabled]="!createAcquirerForm.valid"
            (click)="addAcquirer(createAcquirerForm.value)"
          >
            Add Client
          </button>
        </div>
      </div>
    </div>

    <!-- ptsps -->
    <!-- <div class="form-row">
      <div class="form-group col-md-4">
        <div class="">
          <span class="has-float-label">
            <input
              class="form-control"
              id="currencyCode"
              type="text"
              placeholder=" "
              formControlName="ptsps"
            />
            <label for="ptsps">Issuer</label>
          </span>
        </div>
      </div>
      <div class="form-group col-md-4">
        <div class="">
          <span class="has-float-label">
            <input
              class="form-control"
              id="currencyCode"
              type="text"
              placeholder=" "
              formControlName="routingRules"
            />
            <label for="currencyCode">Acquirer</label>
          </span>
        </div>
      </div>
    </div> -->
    <!-- <div class="form-row">
      <div class="form-group col-md-4">
        <div class="">
          <span class="has-float-label">
            <input
              class="form-control"
              id="currencyCode"
              type="text"
              placeholder=" "
              formControlName="ptsps"
            />
            <label for="ptsps">Terminal Owner</label>
          </span>
        </div>
      </div>
    </div> -->

    <!-- RELEVANT CODE HERE  -->
  </form>
</div>
