<div class="main_dashboard_flow row">
  <div class="col-md-6">
    <div class="details_section">
      <div class="form_area">
        <div class="row">
          <div class="col-md-6">
            <b>Merchant Name</b>
            <p>{{ merchantDetails?.merchantName }}</p>
          </div>
          <div class="col-md-6">
            <b>Merchant ID</b>
            <p>{{ merchantDetails?.merchantId }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <b>Merchant Key</b>
            <p>{{ merchantDetails?.merchantKey }}</p>
          </div>
          <div class="col-md-6" *ngIf="merchantDetails?.merchantCategoryCode">
            <b>Merchant Category</b>
            <p>
              {{ getMCCodes(merchantDetails?.merchantCategoryCode) }} ({{
                merchantDetails?.merchantCategoryCode
              }})
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <b>Merchant Token</b>
            <p>{{ merchantDetails?.merchantToken }}</p>
          </div>
          <div class="col-md-6">
            <b>Merchant Location</b>
            <p>{{ merchantDetails?.merchantLocationNameAddress }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <b>Country Code</b>
            <p>({{ merchantDetails?.countryCode }})</p>
          </div>
          <div class="col-md-6" *ngIf="merchantDetails?.currencyCode">
            <b>Currency</b>
            <p>
              {{ getCurrencyName(merchantDetails?.currencyCode) }} ({{
                merchantDetails?.currencyCode
              }})
            </p>
          </div>
        </div>
        <!-- <div class="row">
        <div class="col-md-6">
          <span>Call Home TIme</span>
          <p><strong>60</strong></p>
        </div>
        <div class="col-md-6">
          <span>Transaction Time Out</span>
          <p><strong>2033ESGQ</strong></p>
        </div>
      </div> -->
        <button
          class="btn action_button_update"
          data-toggle="modal"
          data-target="#editMerchant"
        >
          Edit Merchant
        </button>
      </div>
    </div>

    <!-- SECOND FORM AREA  -->
  </div>
  <div class="form_area col-md-6 terminals">
    <div class="card-body">
      <h6><strong>Terminals</strong></h6>
      <span>These are terminals assigned to this merchant.</span>
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th class="text-center" scope="col">Terminal ID</th>
            <th class="text-center" class="text-center" scope="col">
              Call Home Time
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let terminal of merchantTerminals">
            <td class="text-center">{{ terminal.terminalId }}</td>
            <td class="text-center">{{ terminal.callHomeTime }}</td>
          </tr>
        </tbody>
      </table>
      <span
        class="empty-state"
        *ngIf="merchantTerminals.length == 0 && !isLoadingTerminals"
        >No Records Found</span
      >
    </div>
  </div>
</div>

<div
  class="modal animated zoomIn"
  id="editMerchant"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="createUserLabel">Edit Merchant</h5>
        <form [formGroup]="updateMerchantForm" (ngSubmit)="updateMerchant()">
          <div class="row">
            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="merchantName"
                    type="text"
                    class="form-control"
                    readonly
                    placeholder=" "
                    formControlName="merchantName"
                  />
                  <label for="merchantName">Merchant Name</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  updateMerchantForm?.get('merchantName').errors &&
                  updateMerchantForm?.get('merchantName').touched
                "
                >Merchant Name is required.</span
              >
            </div>

            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="merchantKey"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="merchantKey"
                  />
                  <label for="merchantKey">Merchant Key</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  updateMerchantForm?.get('merchantKey').errors &&
                  updateMerchantForm?.get('merchantKey').touched
                "
                >Merchant Key is required.</span
              >
            </div>

            <div *ngIf="autoMidState != true" class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="merchantId"
                    type="text"
                    class="form-control"
                    disabled
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantId">Merchant ID</label>
                </span>
              </div>
            </div>

            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="merchantToken"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="merchantToken"
                  />
                  <label for="merchantToken">Merchant Token</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  updateMerchantForm?.get('merchantToken').errors &&
                  updateMerchantForm?.get('merchantToken').touched
                "
                >Merchant Token is required.</span
              >
            </div>

            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="categoryCode"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="categoryCode"
                  >
                    <option
                      [value]="categoryCode['MCC CODE']"
                      *ngFor="let categoryCode of merchantCategoryCodes"
                    >
                      {{ categoryCode.fullCatLabel }}
                    </option>
                  </select>
                  <label for="categoryCode">Merchant Category Code</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  updateMerchantForm?.get('categoryCode').errors &&
                  updateMerchantForm?.get('categoryCode').touched
                "
                >Merchant Category Code is required.</span
              >
            </div>

            <div class="col-md-4 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="currency"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="currency"
                  >
                    <option
                      [value]="currency['ISO4217-currency_numeric_code']"
                      *ngFor="let currency of currencyCodes"
                    >
                      {{ currency.fullCurrencyLabel }}
                    </option>
                  </select>
                  <label for="currency">Currency</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  updateMerchantForm?.get('currency').errors &&
                  updateMerchantForm?.get('currency').touched
                "
                >Currency is required.</span
              >
            </div>

            <div class="col-md-4 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="countryCode"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    (change)="
                      onSelectCountryCode(updateMerchantForm.value.countryCode)
                    "
                    formControlName="countryCode"
                  >
                    <option
                      [value]="countryCode['ISO3166-1-numeric']"
                      *ngFor="let countryCode of countryCodes"
                    >
                      {{ countryCode.fullCountryLabel }}
                    </option>
                  </select>
                  <label for="countryCode">Country Code</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  updateMerchantForm?.get('countryCode').errors &&
                  updateMerchantForm?.get('countryCode').touched
                "
                >Country Code is required.</span
              >
            </div>

            <div class="col-md-4 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="city"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="city"
                  >
                    <option
                      [value]="city['subdivision_name']"
                      *ngFor="let city of allCities"
                    >
                      {{ city["subdivision_name"] }}
                    </option>
                  </select>
                  <label for="city">City</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  updateMerchantForm?.get('city').errors &&
                  updateMerchantForm?.get('city').touched
                "
                >City is required.</span
              >
            </div>
            <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <select
                    id="timezoneId"
                    type="text"
                    class="form-control"
                    placeholder=" "
                    formControlName="timezoneId"
                  >
                    <option
                      [value]="+timezone.id"
                      *ngFor="let timezone of allTimeZones"
                    >
                      {{ timezone.timeZoneName }}
                    </option>
                  </select>
                  <label for="timezoneId">Time Zone</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="
                  updateMerchantForm.get('timezoneId').errors &&
                  updateMerchantForm.get('timezoneId').touched
                "
                >Timezone is required.</span
              >
            </div>
          </div>
          <div class="form_actions">
            <button
              class="cancel_button"
              type="button"
              data-dismiss="modal"
              id="cancel_button_edit_merchant"
            >
              Cancel
            </button>
            <button
              class="btn button-primary"
              [disabled]="
                updateMerchantForm.invalid ||
                isLoadingCities ||
                isUpdatingMerchant
              "
              type="submit"
            >
              Update Merchant
            </button>

            <div
              class="spinner-border spinner-border-sm ml-3"
              *ngIf="isUpdatingMerchant || isLoadingCities"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
