<div class="main_dashboard_flow row">
  <div class="col-md-6">
    <div class="details_section">
      <div class="form_area">
        <div class="row">
          <div class="col-md-6">
            <span>Merchant Name</span>
            <p><strong>{{ merchantDetails?.merchantName }}</strong></p>
          </div>
          <div class="col-md-6">
            <span>Merchant ID</span>
            <p><strong>{{ merchantDetails?.merchantId }}</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span>Merchant Key</span>
            <p><strong>{{ merchantDetails?.merchantKey }}</strong></p>
          </div>
          <div class="col-md-6" *ngIf="merchantDetails?.merchantCategoryCode"  >
            <span>Merchant Category</span>
            <p><strong>{{ getMCCodes(merchantDetails?.merchantCategoryCode) }} ({{ merchantDetails?.merchantCategoryCode }})</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span>Merchant Token</span>
            <p><strong>{{ merchantDetails?.merchantToken }}</strong></p>
          </div>
          <div class="col-md-6">
            <span>Merchant Location</span>
            <p><strong>{{ merchantDetails?.merchantLocationNameAddress }}</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span>Country Code</span>
            <p><strong>({{ merchantDetails?.countryCode }})</strong></p>
          </div>
          <div class="col-md-6" *ngIf="merchantDetails?.currencyCode"  >
            <span>Currency</span>
            <p><strong>{{ getCurrencyName(merchantDetails?.currencyCode) }} ({{ merchantDetails?.currencyCode }})</strong></p>
          </div>
        </div>
        <!-- <div class="row">
        <div class="col-md-6">
          <span>Call Home TIme</span>
          <p><strong>60</strong></p>
        </div>
        <div class="col-md-6">
          <span>Transaction Time Out</span>
          <p><strong>2033ESGQ</strong></p>
        </div>
      </div> -->
        <button
          class="btn action_button_update"
          data-toggle="modal"
          data-target="#editMerchant"
        >
          Edit Merchant
        </button>
      </div>
    </div>

    <!-- SECOND FORM AREA  -->
  </div>
  <div class="form_area col-md-6 terminals">
    <div class="card-body">
      <h6><strong>Terminals</strong></h6>
      <span>These are terminals assigned to this merchant.</span>
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th class="text-center" scope="col">Terminal ID</th>
            <th class="text-center" class="text-center" scope="col">
              Call Home Time
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let terminal of merchantTerminals"  >
            <td class="text-center">{{ terminal.terminalId }}</td>
            <td class="text-center">{{ terminal.callHomeTime }}</td>
          </tr>
        </tbody>
      </table>
      <span
        class="empty-state"
        *ngIf="merchantTerminals.length == 0 && !isLoadingTerminals"
      >No Records Found</span>
    </div>
  </div>
</div>

<!-- EDIT MERCHANT MODAl  -->
<div
  class="modal animated zoomIn"
  id="editMerchant"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="createUserLabel">Edit Merchant</h5>
        <form [formGroup]="createMerchantForm">
          <!-- RELEVANT CODE HERE  -->
          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="merchantName"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantName">Merchant Name</label>
                </span>
                <div *ngIf="false" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="terminalId"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantId">Merchant ID</label>
                </span>
                <div *ngIf="false" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="terminalId"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantId">Dialing Code</label>
                </span>
                <div *ngIf="false" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-8">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="terminalId"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantId">Phone Number</label>
                </span>
                <div *ngIf="false" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="merchantName"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantName">Merchant Address</label>
                </span>
                <div *ngIf="false" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="">
                <span class="has-float-label">
                  <select
                    class="form-control"
                    id="terminalId"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  >
                    <option value="Select option"></option>
                  </select>
                  <label for="merchantId">Merchant Type</label>
                </span>
                <div *ngIf="false" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="">
                <span class="has-float-label">
                  <select
                    class="form-control"
                    id="terminalId"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  >
                    <option value="select option"></option>
                  </select>
                  <label for="merchantId">Merchant Category Code</label>
                </span>
                <div *ngIf="false" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="">
                <span class="has-float-label">
                  <select
                    class="form-control"
                    id="merchantName"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  >
                    <option value="Select option"></option>
                  </select>
                  <label for="merchantName">Acquirer</label>
                </span>
                <div *ngIf="false" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- RELEVANT CODE HERE  -->

          <div class="form_actions">
            <div
              class="cancel_button"
              data-dismiss="modal"
              (click)="createMerchantForm.reset()"
            >
              Cancel
            </div>
            <button
              class="btn action_button"
            >
              <i class="fa fa-plus animated slideIn"></i>
              Save Changes
            </button>

            <div
              class="spinner-border spinner-border-sm ml-3"
              *ngIf="false"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


