<!-- <span class="name_and_role"> Profile </span>
<span class="menu_section">
  <span class="menu" routerLink="../personal-details">Personal Details</span>
  <span class="menu active animated" routerLink="../change-password"
    >Change Password</span
  >
</span> -->

<div class="form_area">
  <form [formGroup]="changePasswordForm">
    <div class="row"></div>

    <div class="row">
      <div class="col-md-12 no-padding">
        <div class="form-group">
          <span class="has-float-label">
            <input
              class="form-control"
              id="currentPassword"
              type="password"
              password
              placeholder=" "
              formControlName="currentPassword"
            />
            <label for="currentPassword">Current Password</label>
          </span>

          <div
            *ngIf="
              changePasswordForm.get('currentPassword').errors &&
              (changePasswordForm.get('currentPassword').dirty ||
                changePasswordForm.get('currentPassword').touched)
            "
            class="validation-message"
          >
            <span
              class="validation-message"
              [hidden]="
                !changePasswordForm.get('currentPassword').hasError('required')
              "
            >
              {{ validationMessage.generic.required }}
              <br />
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-12 no-padding">
        <div class="form-group">
          <span class="has-float-label">
            <input
              class="form-control"
              id="newPassword"
              type="password"
              password
              placeholder=" "
              formControlName="newPassword"
            />
            <label for="newPassword">New Password</label>
          </span>
          <div
            *ngIf="
              changePasswordForm.get('newPassword').errors &&
              (changePasswordForm.get('newPassword').dirty ||
                changePasswordForm.get('newPassword').touched)
            "
            class="validation-message"
          >
            <span
              class="validation-message"
              [hidden]="
                !changePasswordForm.get('newPassword').hasError('required')
              "
            >
              {{ validationMessage.generic.required }}
              <br />
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-12 no-padding">
        <div class="form-group">
          <span class="has-float-label">
            <input
              class="form-control"
              id="verifyPassword"
              type="password"
              pattern="{{ changePasswordForm.get('newPassword').value }}"
              placeholder=" "
              formControlName="verifyPassword"
            />
            <label for="verifyPassword">Re-type Password</label>
          </span>
          <div
            *ngIf="
              changePasswordForm.get('verifyPassword').errors &&
              (changePasswordForm.get('verifyPassword').dirty ||
                changePasswordForm.get('verifyPassword').touched)
            "
            class="validation-message"
          >
            <span
              class="validation-message"
              *ngIf="changePasswordForm.get('verifyPassword').errors.pattern"
              >Passwords do not match<br
            /></span>
            <span
              class="validation-message"
              [hidden]="
                !changePasswordForm.get('verifyPassword').hasError('required')
              "
            >
              {{ validationMessage.generic.required }}
              <br />
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form_actions">
      <button
        class="btn action_button"
        *ngIf="!isUserCreating"
        (click)="updatePassword(changePasswordForm.value)"
        [disabled]="!changePasswordForm.valid"
      >
        Change Password
      </button>

      <div
        class="spinner-border spinner-border-sm ml-3"
        role="status"
        *ngIf="isUserCreating"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </form>
</div>
