<div class="main_dashboard_flow">
  <div class="details_section">
    <div class="form_area">
      <div class="row">
        <div class="col-md-6">
          <span>Terminal ID</span>
          <p><strong>2033ESGQ</strong></p>
        </div>
        <div class="col-md-6">
          <span>Merchant ID</span>
          <p><strong>2033ESGQ</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Merchant Token</span>
          <p><strong>ET</strong></p>
        </div>
        <div class="col-md-6">
          <span>Merchant Key</span>
          <p><strong>aperiam</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Merchant Category</span>
          <p><strong>Agricultural Cooperatives (763)</strong></p>
        </div>
        <div class="col-md-6">
          <span>Merchant Location</span>
          <p><strong>UPTON, TILLMAN AND FISHER NONG</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Country Code</span>
          <p><strong>(566)</strong></p>
        </div>
        <div class="col-md-6">
          <span>Currency</span>
          <p><strong>Zimbabwe Dollar (932)</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Call Home TIme</span>
          <p><strong>60</strong></p>
        </div>
        <div class="col-md-6">
          <span>Transaction Time Out</span>
          <p><strong>2033ESGQ</strong></p>
        </div>
      </div>
      <button
        class="btn action_button"
        data-toggle="modal"
        data-target="#createUser"
      >
        Update Terminal
      </button>
    </div>
  </div>
</div>
