<div class="main_dashboard_flow">
  <div class="details_section">
    <div class="form_area">
      <div class="row">
        <div class="col-md-6">
          <span>Terminal ID</span>
          <p><strong>2033ESGQ</strong></p>
        </div>
        <div class="col-md-6">
          <span>Merchant ID</span>
          <p><strong>2033ESGQ</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Merchant Token</span>
          <p><strong>ET</strong></p>
        </div>
        <div class="col-md-6">
          <span>Merchant Key</span>
          <p><strong>aperiam</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Merchant Category</span>
          <p><strong>Agricultural Cooperatives (763)</strong></p>
        </div>
        <div class="col-md-6">
          <span>Merchant Location</span>
          <p><strong>UPTON, TILLMAN AND FISHER NONG</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Country Code</span>
          <p><strong>(566)</strong></p>
        </div>
        <div class="col-md-6">
          <span>Currency</span>
          <p><strong>Zimbabwe Dollar (932)</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Call Home TIme</span>
          <p><strong>60</strong></p>
        </div>
        <div class="col-md-6">
          <span>Transaction Time Out</span>
          <p><strong>2033ESGQ</strong></p>
        </div>
      </div>
      <button
        class="btn action_button_update"
        data-toggle="modal"
        data-target="#updateTerminal"
      >
        Update Terminal
      </button>
    </div>
  </div>
</div>

<!-- UPDATE TERMINAL MODAL  -->
<div
  class="modal animated zoomIn"
  id="updateTerminal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="updateTerminalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="updateTerminalLabel">Update Terminal</h5>
        <form [formGroup]="createMerchantForm">
          <!-- RELEVANT CODE HERE  -->
          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="merchantName"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantName">Merchant Name</label>
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="terminalId"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantId">Merchant ID</label>
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="merchantName"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantName">Merchant Address</label>
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div class="">
                <span class="has-float-label">
                  <input
                    class="form-control"
                    id="merchantName"
                    type="text"
                    placeholder=" "
                    formControlName="merchantId"
                  />
                  <label for="merchantName">Merchant Name</label>
                </span>
                <div *ngIf="expression" class="validation-message">
                  <span class="validation-message">
                    Here is the validation message
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Activate Terminal
            </label>
          </div>
          <div class="form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
            />
            <label class="form-check-label" for="exampleRadios2">
              Deactivate Terminal
            </label>
          </div>

          <!-- RELEVANT CODE HERE  -->

          <div class="form_actions">
            <div
              class="cancel_button"
              data-dismiss="modal"
              (click)="createMerchantForm.reset()"
            >
              Cancel
            </div>
            <button
              class="btn action_button"
              (click)="createUser(createMerchantForm.value)"
            >
              <i class="fa fa-plus animated slideIn"></i>
              Add Merchant
            </button>

            <div
              class="spinner-border spinner-border-sm ml-3"
              *ngIf="expression"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
