<div class="main_dashboard_flow">
  <div class="details_section">
    <div class="form_area">
      <div class="row">
        <div class="col-md-6">
          <span>Terminal ID</span>
          <p><strong>{{ terminalDetails?.terminalId }}</strong></p>
        </div>
        <div class="col-md-6">
          <span>Merchant ID</span>
          <p><strong>{{ terminalDetails?.merchantId }}</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Merchant Token</span>
          <p><strong>{{ terminalDetails?.merchantToken }}</strong></p>
        </div>
        <div class="col-md-6">
          <span>Merchant Key</span>
          <p><strong>{{ terminalDetails?.merchantKey }}</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Merchant Category</span>
          <p><strong>{{ terminalDetails?.merchantCategoryCode }}</strong></p>
        </div>
        <div class="col-md-6">
          <span>Merchant Location</span>
          <p><strong>{{ terminalDetails?.merchantLocationNameAddress }}</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Country Code</span>
          <p><strong>{{ terminalDetails?.countryCode }}</strong></p>
        </div>
        <div class="col-md-6">
          <span>Currency</span>
          <p><strong>{{  terminalDetails?.currencyCode }}</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span>Call Home TIme</span>
          <p><strong>{{ terminalDetails?.callHomeTime }}</strong></p>
        </div>
        <div class="col-md-6">
          <span>Transaction Time Out</span>
          <p><strong>{{ terminalDetails?.transactionTimeout }}</strong></p>
        </div>
      </div>
      <button
        class="btn action_button_update"
        data-toggle="modal"
        data-target="#updateTerminal"
      >
        Update Terminal
      </button>
    </div>
  </div>
</div>

<!-- UPDATE TERMINAL MODAL  -->
<div
  class="modal animated zoomIn"
  id="updateTerminal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="updateTerminalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="updateTerminalLabel">Update Terminal</h5>
        <form [formGroup]="updateTerminalForm" (ngSubmit)="updateTerminalDetails()" >

          <div class="col-md-12 no-padding">
            <div class="form-group">
              <span class="has-float-label">
                <select
                  id="merchantId"
                  class="form-control"
                  type="text"
                  placeholder=" "
                  formControlName="merchantId"
                >
                  <option [value]="merchant.merchantId" *ngFor="let merchant of allMerchants"  >{{ merchant.merchantName }}</option>
                </select>
                <label for="merchantId">Merchant Name</label>
              </span>
            </div>
            <span
              class="validation-message"
              *ngIf="updateTerminalForm.get('merchantId').errors && updateTerminalForm.get('merchantId').touched"
            >Merchant Name is required.</span>
          </div>

          <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="terminalId"
                    type="text"
                    disabled
                    class="form-control"
                    placeholder=" "
                    formControlName="terminalId"
                  />
                  <label for="terminalId">Terminal ID</label>
                </span>
              </div>
            </div>

          <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="transactionTimeout"
                    type="number"
                    class="form-control no-arrows"
                    placeholder=" "
                    formControlName="transactionTimeout"
                  />
                  <label for="transactionTimeout">Transaction Timeout (In Seconds)</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="updateTerminalForm.get('transactionTimeout').errors && updateTerminalForm.get('transactionTimeout').touched"
              >Transaction Timeout is required.</span>
            </div>

          <div class="col-md-12 no-padding">
              <div class="form-group">
                <span class="has-float-label">
                  <input
                    id="callHomeTime"
                    type="number"
                    class="form-control no-arrows"
                    placeholder=" "
                    formControlName="callHomeTime"
                  />
                  <label for="callHomeTime">Call Home Time (In Seconds)</label>
                </span>
              </div>
              <span
                class="validation-message"
                *ngIf="updateTerminalForm.get('callHomeTime').errors && updateTerminalForm.get('callHomeTime').touched"
              >Call Home Time is required.</span>
            </div>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="terminalState"
                id="activateTerminal"
                checked
              />
              <label class="form-check-label" for="activateTerminal">
                Activate Terminal
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="terminalState"
                id="deactivateTerminal"
              />
              <label class="form-check-label" for="deactivateTerminal">
                Deactivate Terminal
              </label>
            </div>

          <!-- RELEVANT CODE HERE  -->

          <div class="form_actions">
            <div
              class="cancel_button"
              data-dismiss="modal"
              id="cancel_button_update_terminal"
              (click)="createMerchantForm.reset()"
            >
              Cancel
            </div>
            <button
              class="btn button-primary"
              type="submit"
            >
              Update Terminal
            </button>

            <div
              class="spinner-border spinner-border-sm ml-3"
              role="status"
              *ngIf="isUpdating"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
