<div class="header animated fadeIn">
  <div class="top_buttons">
    <span class="back_button" routerLink="../../../stations">
      <i class="fa fa-long-arrow-left"></i> Return to Stations
    </span>
  </div>
  <div class="header_buttons" *ngIf="!isLoading">
    <div class="top-info">
      <span class="name">
        {{stationDetails.name | titlecase}}</span
      >
      <span class="date">Created: {{stationDetails.createdAt | date :'medium'}}</span>
      <span class="status animated fadeIn" *ngIf="stationDetails.isActive === 1"> Status: Active</span>
      <span class="status animated fadeIn" *ngIf="stationDetails.isActive === 0"> Status: Inactive</span>

    </div>
    <div>
      <span
        class="action_button_disable animated fadeIn"
        data-toggle="modal"
        data-target="#confirmationModal" *ngIf="stationDetails.isActive === 1"
        >Disable Station</span
      >
  
      <span
        class="action_button_enable animated fadeIn"
        (click)="enableStation()"
        *ngIf="stationDetails.isActive === 0 && !isEnabling"
        >Enable Station</span
      >
    </div>
    <div
  class="spinner-border spinner-border-sm "
  role="status"
  *ngIf=" isEnabling"
>
  <span class="sr-only">Loading...</span>
</div>
  </div>

  <div
  class="spinner-border spinner-border-sm "
  role="status"
  *ngIf="isLoading "
>
  <span class="sr-only">Loading...</span>
</div>
</div>

<div class="main_dashboard_flow">
  <div class="details_section">
    <div class="form_area" *ngIf="!isLoading">
      <div class="row">
        <div class="col-md-6">
          <span class="card_header">Station Name</span>
          <p class="card_value">{{stationDetails.name | titlecase}}</p>
        </div>
        <div class="col-md-6" style="word-wrap: break-word;">
          <span class="card_header">ZMK (Master Key)</span>
          <p class="card_value">{{stationDetails.zmk}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 " style="word-wrap: break-word;">
          <span class="card_header">ZPK (PIN Key)</span>
          <p class="card_value">{{stationDetails.zpk}}</p>
        </div>
        <div class="col-md-6">
          <span class="card_header">Last Echo</span>
          <p class="card_value" *ngIf="stationDetails.lastEcho !== null">{{stationDetails.lastEcho}}</p>
          <p class="null-value" *ngIf="stationDetails.lastEcho === null">Nil</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span class="card_header">Last ZPK Change</span>
          <p class="card_value" *ngIf="stationDetails.lastZpkChange !== null">{{stationDetails.lastZpkChange}}</p>
          <p class="null-value" *ngIf="stationDetails.lastZpkChange === null">Nil</p>

        </div>
        <div class="col-md-6">
          <span class="card_header">Auth Username</span>
          <p class="card_value" *ngIf="stationDetails.authUsername !== null">{{stationDetails.authUsername}}</p>
          <p class="null-value" *ngIf="stationDetails.authUsername === null">Nil</p>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <span class="card_header">Base URL</span>
          <p class="card_value"  *ngIf="stationDetails.baseUrl !== null">{{stationDetails.baseUrl}}</p>
          <p class="null-value" *ngIf="stationDetails.baseUrl=== null">Nil</p>

        </div>
     
      </div>

      <button
        class="btn action_button_update"
        data-toggle="modal"
        data-target="#editAcquirer"
      >
        Edit Station
      </button>
    </div>
  </div>
</div>




<div
  class="modal animated zoomIn"
  id="confirmationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmationModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="min-height: 13rem !important;">
      <div class="modal-body">
        <h5 class="modal-title" id="confirmationModal">
          <span>Disable Station</span>
        </h5>
        <span class="modal_subtitle">
          You are about to disable
          <b *ngIf="!isLoading"> {{ stationDetails.name }} </b>
        </span>

        <div class="form_actions">
          <div class="cancel_button" data-dismiss="modal">
            Cancel
          </div>

          <div
            class="spinner-border spinner-border-sm ml-3"
            role="status"
            *ngIf="isDisabling"
          ></div>

          <button
            class="btn action_button"
            (click)="disableStation()"
            *ngIf="!isDisabling"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>