// *******  WHITE BACKGROUND SECTION 8888888888
.main_dashboard_flow {
  min-width: 95%;
  display: flex;
  flex-direction: row;
  min-height: 20rem;
  //border: 1px solid red;
  // margin: 0 2.5rem;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

.details_section {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  margin-right: 2.5rem;
  flex: 1;
  transition: all ease-in-out 2s;
}

.form_area {
  width: 35rem;
  // margin-left: 2rem;
  //margin-top: 2.5rem;
  background: #ffffff;
  border-radius: 10px;
  padding: 1.9rem 1rem;
}

div > span {
  color: #1a1a1a;
  font-family: Roboto, Regular;
}

p > strong {
  font-family: Montserrat, Bold;
  color: #1a1a1a;
  font-weight: bold;
}

// UPDATE TERMINAL BUTTON
.action_button {
  background-color: #ffd1ce;
  color: #950007;
  padding: 0.6rem 1rem;
  font-family: "Montserrat Bold", serif;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 0.35s ease-in-out;
  font-weight: bold;
  border: 0.5px solid #ffd1ce;
  font-size: 0.8125rem;
  width: 100%;
  margin-top: 2rem;
}

.action_button:hover {
  background-color: #950007;
  border: 0.5px solid #950007;
  //transition: all 0.3s ease-in-out;

  color: #f0f0f0;
}

//  .action_button {
//   background-color: #ffd1ce;
//   color: #950007;
//   padding: 0.6rem 1.6rem;
//   font-family: "Montserrat Bold", serif;
//   border-bottom-left-radius: 0;
//   border-bottom-right-radius: 6px;
//   border-top-left-radius: 6px;
//   border-top-right-radius: 6px;
//   transition: all 0.35s ease-in-out;
//   min-width: 12rem;
//   font-weight: bold;
//   border: 0.5px solid #ffd1ce;
//   font-size: 0.8125rem;
//   flex: 1;
// }

// .button_header_section .action_button:hover {
//   background-color: #950007;
//   border: 0.5px solid #950007;
//   //transition: all 0.3s ease-in-out;

//   color: #f0f0f0;
// }
