<div class="header">
  <!-- FILTER BY CODE  -->
  <div class="header__search">
    <span class="filter_click" (click)="showFilter = !showFilter">
      <img
        src="../../../../../assets/icons/Filter-Icon.svg"
        alt="search"
        class="img-fluid"
      />
      <span
        class="filter_text"
        id="dropdownMenuButton"
        onselectstart="return false"
        unselectable="on"
      >
        Filter Table By
      </span>
    </span>
    <div
      class="card search-dropdown"
      *ngIf="showFilter"
      id="filter__dropdown"
      style="height: 250px"
    >
      <form [formGroup]="searchForm" (ngSubmit)="searchBy(searchForm.value)">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="merchantId" class="search_label">Merchant ID</label>
              <input
                type="text"
                class="form-control search_input"
                formControlName="merchantId"
                id="merchantId"
              />
            </div>
          </div>
          <!-- 
          <div class="col-md-4">
            <div class="form-group">
              <label for="merchantName" class="search_label"
                >Merchant Name</label
              >
              <input
                type="text"
                class="form-control search_input"
                formControlName="merchantName"
                id="merchantName"
              />
            </div>
          </div> -->

          <div class="col-md-4">
            <div class="form-group">
              <label for="status" class="search_label">Status</label>
              <select
                type="text"
                class="form-control search_input"
                formControlName="status"
                id="status"
              >
                <option value="">Select Merchant Status</option>
                <option value="true">Active</option>
                <option value="false">Inactive</option>
              </select>
            </div>
          </div>
        </div>

        <div class="button-section text-right">
          <button
            class="btn button-white"
            type="button"
            (click)="showFilter = false; searchForm.reset()"
          >
            Close
          </button>

          <button class="btn button-pink" type="submit">
            Apply Filters
            <div
              *ngIf="isFiltering"
              class="spinner-border spinner-border-sm ml-3"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Reset button -->
  <button
    class="btn btn-secondary reset-filter"
    (click)="refreshTableData()"
    [disabled]="isLoading"
  >
    <i
      class="fa fa-refresh"
      [class.isLoading]="isLoading && allMerchants.length != 0"
    ></i>
    {{ isLoading && allMerchants.length != 0 ? "Loading" : "Refresh" }}
  </button>

  <!-- FILTER BY CODE ENDS HERE  -->

  <!-- New Header Ends HEre  -->
</div>

<div class="table-container custom-table animated fadeIn">
  <div class="card-body">
    <app-rex-loader
      [isPushed]="true"
      *ngIf="isLoading && allMerchants.length == 0"
    ></app-rex-loader>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Merchant Name</th>
          <th scope="col">Merchant ID</th>
          <th scope="col">Merchant Category Code</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let merchant of allMerchants">
          <td>{{ merchant.merchantName }}</td>
          <td>{{ merchant.merchantId }}</td>
          <td>{{ merchant.merchantCategoryCode }}</td>
          <td
            [ngClass]="{ Inactive: merchant.isActive === false }"
            class="active"
          >
            {{ merchant.isActive ? "Active" : "Inactive" }}
          </td>
          <td>
            <button
              routerLink="../acquirer-merchants/{{
                merchant.merchantId
              }}/merchant-details"
              class="btn table_button"
            >
              Open
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <span class="empty-state" *ngIf="allMerchants.length === 0 && !isLoading">
      No Records Found
    </span>
  </div>
</div>

<app-rex-pagination
  [data]="allMerchants"
  [totalElements]="dataCount"
  (pageCountSelected)="requestPageSize($event)"
  (onDownloadAsCSV)="beginDownload()"
  (refreshData)="onRefreshData($event)"
  *ngIf="isLoaded"
></app-rex-pagination>
