@import "~src/app/pages/shared/styles/header";

.routes-column,
.ptsps-column {
  background-color: #f0f0f0;
  margin-right: 0.7rem;
}

.header_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.page_header {
  font-weight: bold;
  font-size: 20px;
  font-family: Roboto, Bold;
  letter-spacing: 0.8px;
}

.page_subtitle {
  font-size: 12px;
}

.page_subheader {
  font-weight: bold;
  font-size: 17px;
  font-family: Roboto, Bold;
  letter-spacing: 0.8px;
}

.select_title {
  color: #1a1a1a8a;
  font-weight: bold;
  font-size: 13px;
}

.select-all {
  columns: #1a1a1a;
  font-family: Roboto;
}

.select-label {
  color: #1a1a1a;
  font-family: Roboto, regular;
  font-size: 13px;
}

#select-all {
  margin-right: 5px;
}

.action_button_update {
  background-color: #ffd1ce;
  color: #950007;
  padding: 0.6rem 1rem;
  font-family: "Montserrat Bold", serif;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 0.35s ease-in-out;
  font-weight: bold;
  border: 0.5px solid #ffd1ce;
  font-size: 0.8125rem;
  width: 100%;
  margin-top: 2rem;
}

.action_button_update:hover {
  background-color: #950007;
  border: 0.5px solid #950007;
  //transition: all 0.3s ease-in-out;

  color: #f0f0f0;
}

.btn.dropdown-toggle {
  width: 100% !important;
  text-align: left;
  background-color: #f0f0f0;
  border: none;
  color: #1a1a1a8a;
  margin-bottom: 0.5rem;
  font-size: 12px;
  font-family: Roboto, Bold;
  font-weight: bold;
}

.dropdown-menu {
  width: 100%;
}

.dropdown-menu {
  font-size: 10px;
}

.dropdown-menu li {
  display: flex;
}

.dropdown-menu li span {
  text-align: center;
  padding-right: 4px;
}

.dropdown-menu li > * {
  flex: 1;
}

.sub_select_title {
  text-align: left;
  color: #1a1a1a8a;
  margin-bottom: 0.5rem;
  font-size: 12px;
  font-family: Roboto, Bold;
  font-weight: bold;
  display: block;
}
